.mat-table .col-quantity, .mat-column-quantity{width: 30px!important; max-width: 30px!important;}
.w-45{width: 45%!important;}
.w-13{width: 13%!important;}
form:not(.task-form) .mat-form-field:not(.mat-focused) .mat-form-field-label.mat-empty:not(.mat-form-field-invalid), .mat-form-field-label{
  font-size: 18px!important;
  font-weight:500!important;
  color:black!important;
}