<form [formGroup]="_frmpackagedistributeedit" class="container p-relative" novalidate>
  <div class="p-absolute t-5 r-5">
    <button mat-icon-button mat-dialog-close style="z-index: 9;" [matTooltipPosition]="'left'" matTooltip="Đóng">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        {{l("Edit")}} {{l("PackageDistributeSmsPackageHead")}}
      </ng-template>
      <div class="pt-4">
          <div class="row">
              <div class="col-md-6 disabled">
                  <mat-form-field appearance="outline" class="w-100">
                      <mat-label>{{l('PackageDistributeHealthFacilities')}}</mat-label>
                      <mat-select formControlName="healthFacilitiesId" readonly [required]="true">
                          <mat-option *ngFor="let o of _medicalFacility" [value]="o.healthFacilitiesId">{{ o.code + '-' + o.name }}</mat-option>
                      </mat-select>
                      <mat-icon matSuffix
                                *ngIf="_frmpackagedistributeedit.controls['healthFacilitiesId'].invalid && (_frmpackagedistributeedit.controls['healthFacilitiesId'].dirty || _frmpackagedistributeedit.controls['healthFacilitiesId'].touched)"
                                [matTooltipPosition]="'before'" matTooltipClass="bg-danger text-light mr-1"
                                matTooltip="{{l('NotBeEmpty')}}" color="warn">info</mat-icon>
                  </mat-form-field>
              </div>
              <div class="col-md-6"  [ngClass]="{'disabled': _smsLogs.length > 0 }">
                  <mat-form-field appearance="outline" class="w-100 disabled">
                      <mat-label>{{l('PackageDistributeSmsPackages')}}</mat-label>
                      <mat-select formControlName="smsPackageId" readonly [required]="true">
                          <mat-option *ngFor="let o of _package" [value]="o.id">{{ o.name }}</mat-option>
                      </mat-select>
                      <mat-icon matSuffix
                                *ngIf="_frmpackagedistributeedit.controls['smsPackageId'].invalid && (_frmpackagedistributeedit.controls['smsPackageId'].dirty || _frmpackagedistributeedit.controls['smsPackageId'].touched)"
                                [matTooltipPosition]="'before'" matTooltipClass="bg-danger text-light mr-1"
                                matTooltip="{{l('NotBeEmpty')}}" color="warn">info</mat-icon>
                  </mat-form-field>
              </div>
              <div class="col-md-6"  [ngClass]="{'disabled': _smsLogs.length > 0 }">
                  <mat-form-field appearance="outline" class="w-100">
                      <mat-label>{{l('PackageDistributeMonth')}}</mat-label>
                      <mat-select formControlName="monthStart" readonly="_smsLogs.length > 0">
                          <mat-option *ngFor="let o of _month" [value]="o.id">
                              {{ o.name }}
                          </mat-option>
                          <!--<mat-option *ngFor="let o of _month" [value]="o.id"
                  [disabled]="_frmpackagedistributeedit.controls['year'].value < _currentYear || (_frmpackagedistributeedit.controls['year'].value <= _currentYear &&  o.id < _currentMonth)">
                  {{ o.name }}</mat-option>-->
                      </mat-select>
                  </mat-form-field>
              </div>
              <div class="col-md-6"  [ngClass]="{'disabled': _smsLogs.length > 0 }">
                  <mat-form-field appearance="outline" class="w-100">
                      <mat-label>{{l("Từ năm")}}</mat-label>
                      <input min="0" max="9999" maxlength="4" formControlName="yearStart" mask="0*"
                             matInput autocomplete [required]="true" #yearStart>
                      <mat-icon matSuffix
                                *ngIf="_frmpackagedistributeedit.controls['yearStart'].invalid && (_frmpackagedistributeedit.controls['yearStart'].dirty || _frmpackagedistributeedit.controls['yearStart'].touched)"
                                [matTooltipPosition]="'before'" matTooltipClass="bg-danger text-light mr-1"
                                matTooltip="{{l('NotBeEmpty')}}" color="warn">info</mat-icon>
                  </mat-form-field>
              </div>
              <div class="col-md-6"  [ngClass]="{'disabled': _smsLogs.length > 0 }">
                  <mat-form-field appearance="outline" class="w-100">
                      <mat-label>{{l('Đến tháng')}}</mat-label>
                      <mat-select formControlName="monthEnd" readonly="_smsLogs.length > 0">
                          <mat-option *ngFor="let o of _month" [value]="o.id">
                              {{ o.name }}
                          </mat-option>
                          <!--<mat-option *ngFor="let o of _month" [value]="o.id"
                [disabled]="_frmpackagedistributeedit.controls['year'].value < _currentYear || (_frmpackagedistributeedit.controls['year'].value <= _currentYear &&  o.id < _currentMonth)">
                  {{ o.name }}</mat-option>-->
                      </mat-select>
                                      
                  </mat-form-field>
              </div>
              <div class="col-md-6"  [ngClass]="{'disabled': _smsLogs.length > 0 }">
                  <mat-form-field appearance="outline" class="w-100">
                      <mat-label>{{l("Đến năm")}}</mat-label>
                      <input min="0" max="9999" maxlength="4" formControlName="yearEnd" mask="0*"
                             matInput autocomplete [required]="true" #yearEnd>
                      <mat-icon matSuffix
                                *ngIf="_frmpackagedistributeedit.controls['yearEnd'].invalid && _smsLogs.length < 0 && (_frmpackagedistributeedit.controls['yearEnd'].dirty || _frmpackagedistributeedit.controls['yearEnd'].touched)"
                                [matTooltipPosition]="'before'" matTooltipClass="bg-danger text-light mr-1"
                                matTooltip="{{l('NotBeEmpty')}}" color="warn">info</mat-icon>
                  </mat-form-field>
              </div>
              <div class="col-md-6"  [ngClass]="{'disabled': _smsLogs.length > 0 }">
                  <mat-form-field appearance="outline" class="w-100">
                      <mat-label>{{l('Đầu số')}}</mat-label>
                      <mat-select formControlName="smsBrandsId" readonly="_smsLogs.length > 0" required>
                          <mat-option *ngFor="let o of _brands" [value]="o.smsBrandId">{{ o.brandName }}</mat-option>
                      </mat-select>
                      <mat-icon matSuffix *ngIf="_frmpackagedistributeedit.controls['smsBrandsId'].invalid && _smsLogs.length < 0 && (_frmpackagedistributeedit.controls['smsBrandsId'].dirty || _frmpackagedistributeedit.controls['smsBrandsId'].touched)" [matTooltipPosition]="'before'" matTooltipClass="bg-danger text-light mr-1" matTooltip="{{l('NotBeEmpty')}}" color="warn">info</mat-icon>
                  </mat-form-field>
              </div>
              <div class="col-md-6">
                  <mat-checkbox formControlName="isActive">{{l("Using")}}</mat-checkbox>
              </div>
          </div>
        <div class="text-right mb-3">
          <button class="mr-3" mat-raised-button color="primary" mat-dialog-close>
            {{l("Close")}}
          </button>
          <button mat-raised-button color="primary"
                    (click)="submit()"
            [disabled]="((_frmpackagedistributeedit.controls['yearStart'].invalid) || (_frmpackagedistributeedit.controls['yearEnd'].invalid) || (_frmpackagedistributeedit.controls['monthStart'].value > _frmpackagedistributeedit.controls['monthEnd'].value))">
          
            {{l("Save")}}
          </button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</form>
