#signup input[type=text]{
    font-size: 14px;
}

.signup-form .primary-label {
    padding-top: 6px;
}

.signup-form .form-group {
    margin-bottom: 10px;
}

.my-mat-hint {
    padding-bottom: 10px;
    line-height: 1.2em;
    transform: translateY(10px);
    font-size: 75%;
}
.btn-refresh{
    margin-left: 10px;
}
.img-name{margin-top:12px}
.btn-delete {
    position: absolute;
    right: -22px;
    top: 10px;
}

.wrap-text {
    white-space: normal!important;
    word-break: break-all!important;
    overflow: visible!important;
}
