<div class="main-content">
    <div class="bdr-btm">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Đăng ký tài khoản sử dụng</li>
                </ol>
            </nav>
        </div>
    </div>
    <section id="signup" class="iq-pt-50">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-title">
                        <h4 class="title iq-tw-5 text-uppercase">Đăng ký tài khoản sử dụng</h4>
                        <p>Mở tài khoản dễ dàng, nhanh chóng với một form duy nhất để có thể sử dụng đầy đủ các chức
                            năng và dịch vụ của Mangyteviet.com
                            Đăng nhập tại đây nếu bạn đã có tài khoản tại Mangyteviet.com</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-5 pull-right text-center"><img style="margin: 0 auto;"
                        class="img-responsive iq-pt-50-on-lg" src="/assets/images/dk.jpg" width="499" height="519"
                        alt="" /></div>
                <div class="col-xs-12 col-md-7 pull-left">
                    <div class="signup-form">
                        <form [formGroup]="frmUser" class="frm-register">

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <label class="primary-label">Loại tài khoản</label>
                                    </div>

                                    <div class="col-xs-12 col-md-8">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4 col-md-12">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" (change)="onChangeAccountType(1)" value="1"
                                                            formControlName="accountType" [checked]="true">
                                                        Thành viên</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 col-md-12">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" (change)="onChangeAccountType(2)" value="2"
                                                            formControlName="accountType">
                                                        Bác sĩ / chuyên gia / điều dưỡng...</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 col-md-12">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" (change)="onChangeAccountType(3)" value="3"
                                                            formControlName="accountType">
                                                        Cơ sở y tế / doanh nghiệp</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div [ngClass]="{'hidden': _hideSpecialist}">
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <label class="primary-label" style="padding-top: 0px;">Đăng ký cho ai</label>
                                    </div>

                                    <div class="col-xs-12 col-md-8" [ngClass]="{'hidden': _hideDoctor}">
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-6">
                                                <div class="radio">
                                                    <label><input type="radio" value="1"
                                                            [checked]="!_hideDoctor ? true : false"
                                                            formControlName="register">Chính tôi</label>
                                                </div>
                                            </div>

                                            <div class="col-xs-6 col-sm-6">
                                                <div class="radio">
                                                    <label><input type="radio" value="2" formControlName="register">Bác
                                                        sĩ tôi thay mặt</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-md-8" [ngClass]="{'hidden': _hideMF}">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <div class="radio">
                                                    <label><input type="radio" value="3"
                                                            [checked]="!_hideMF ? true : false"
                                                            formControlName="register">Cơ sở của tôi</label>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-6">
                                                <div class="radio">
                                                    <label><input type="radio" value="4" formControlName="register">Cơ
                                                        sở tôi đại diện</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group"
                                [ngClass]="{'has-error': frmUser.get('fullName').invalid && (frmUser.get('fullName').dirty || frmUser.get('fullName').touched)}">
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <label class="primary-label control-label">Họ và tên<span
                                                class="text-danger">*</span></label>
                                    </div>

                                    <div class="col-xs-12 col-md-8">
                                        <input #fullName type="text" formControlName="fullName" name="name"
                                            id="fullName" class="validate form-control" maxlength="255">
                                        <validation [control]="frmUser.controls['fullName']"></validation>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <label class="primary-label custom-label" style="padding-top: 0px;">Giới
                                            tính</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-8">
                                        <select formControlName="sex" class="form-control" id="sex">
                                            <option *ngFor="let o of _sex" [value]="o.id">{{o.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <label class="primary-label custom-label">Ngày sinh</label>
                                    </div>
                                    <div class="col-xs-12 col-md-8">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <select id="birthDay" class="form-control" placeholder="Ngày"
                                                    (change)="onSelectBirthDay($event)">
                                                    <option *ngFor="let o of _dates" [ngValue]="o">{{o}}</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select id="birthM" class="form-control" placeholder="Tháng"
                                                    (change)="onSelectBirthMonth($event)">
                                                    <option *ngFor="let o of _months" [ngValue]="o">{{'Tháng' }} {{o}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select id="birthY" class="form-control" placeholder="Năm">
                                                    <option *ngFor="let o of _years" [ngValue]="o">{{o}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <small *ngIf="_invaliBirthday" class="help-block" style="color: red;">Ngày sinh
                                            không đúng định dạng</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group"
                                [ngClass]="{'has-error': frmUser.get('phoneNumber').invalid && (frmUser.get('phoneNumber').dirty || frmUser.get('phoneNumber').touched)}">
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <label class="primary-label control-label">Điện thoại<span
                                                class="text-danger">*</span></label>
                                    </div>

                                    <div class="col-xs-12 col-md-8">
                                        <input type="text" formControlName="phoneNumber" name="mobile_phone"
                                            id="phoneNumber" class="form-control" (keyup)="rulePhoneNumber($event)"
                                            minlength="10" maxlength="20">
                                        <validation [control]="frmUser.controls['phoneNumber']"></validation>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group"
                                [ngClass]="{'has-error': frmUser.get('email').invalid && (frmUser.get('email').dirty || frmUser.get('email').touched)}">
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <label class="primary-label control-label">Email<span
                                                class="text-danger">*</span></label>
                                    </div>

                                    <div class="col-xs-12 col-md-8">
                                        <input type="text" formControlName="email" name="email" id="email"
                                            class="form-control" (keyup)="ruleEmail($event)" maxlength="320">
                                        <validation [control]="frmUser.controls['email']"></validation>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group"
                                [ngClass]="{'has-error': frmUser.get('userName').invalid && (frmUser.get('userName').dirty || frmUser.get('userName').touched)}">
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <label class="primary-label control-label">Tài khoản<span
                                                class="text-danger">*</span></label>
                                    </div>

                                    <div class="col-xs-12 col-md-8">
                                        <input #fullName type="text" formControlName="userName" name="userName"
                                            id="userName" class="validate form-control" [patterns]="insurrancePatterns"
                                            mask="0*" maxlength="255">
                                        <validation [control]="frmUser.controls['userName']"></validation>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group"
                                [ngClass]="{'has-error': frmUser.get('password').invalid && (frmUser.get('password').dirty || frmUser.get('password').touched)}">
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <label class="primary-label control-label">Mật khẩu<span
                                                class="text-danger">*</span></label>
                                    </div>

                                    <div class="col-xs-12 col-md-8">
                                        <input type="password" formControlName="password" name="password" id="password"
                                            title="Mật khẩu cần có ít nhất 8 kí tự"
                                            placeholder="Mật khẩu cần có ít nhất 8 ký tự" data-display="Mật khẩu"
                                            class="validate form-control" minlength="8" maxlength="255">
                                        <validation [control]="frmUser.controls['password']"></validation>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group"
                                [ngClass]="{'has-error': frmUser.get('confirmPassword').invalid && (frmUser.get('confirmPassword').dirty || frmUser.get('confirmPassword').touched)}">
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <label class="primary-label control-label">Xác nhận lại mật khẩu<span
                                                class="text-danger">*</span></label>
                                    </div>

                                    <div class="col-xs-12 col-md-8">
                                        <input type="password" formControlName="confirmPassword" name="confirm_password"
                                            id="confirmPassword" title="Nhập lại mật khẩu"
                                            placeholder="Nhập lại mật khẩu" class="validate form-control" minlength="8"
                                            maxlength="255">
                                        <validation [control]="frmUser.controls['confirmPassword']"></validation>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <label class="primary-label custom-label">Địa chỉ</label>
                                    </div>

                                    <div class="col-xs-12 col-md-8">
                                        <input type="text" formControlName="address" name="address" id="address"
                                            class="form-control" maxlength="255">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <label class="primary-label custom-label">Tỉnh/TP</label>
                                    </div>

                                    <div class="col-xs-12 col-md-8">
                                        <select formControlName="provinceCode" class="form-control" id="province"
                                            (change)="onSelectProvince($event)">
                                            <option *ngFor="let o of _provinces" [ngValue]="o.provinceCode">
                                                {{o.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <label class="primary-label custom-label">Quận/Huyện</label>
                                    </div>

                                    <div class="col-xs-12 col-md-8">
                                        <select formControlName="districtCode" class="form-control" id="district"
                                            (change)="onSelectDistrict($event)">
                                            <option *ngFor="let o of _districts" [ngValue]="o.districtCode">
                                                {{o.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <label class="primary-label custom-label">Xã/Phường</label>
                                    </div>

                                    <div class="col-xs-12 col-md-8">
                                        <select formControlName="wardCode" class="form-control" id="ward">
                                            <option *ngFor="let o of _wards" [ngValue]="o.wardCode">{{o.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="for-account-type-professional no-margins">
                                <div class="form-group {_hideMember ? 'hidden' : ''}"
                                    [ngClass]="{'has-error': frmUser.get('identification').invalid && (frmUser.get('identification').dirty || frmUser.get('identification').touched)}">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-4">
                                            <label class="primary-label control-label">Số CMND/CCCD</label>
                                        </div>

                                        <div class="col-xs-12 col-md-8">
                                            <input type="text" id="identification" formControlName="identification"
                                                mask="0*" name="prof_spec" class="form-control" minlength="9"
                                                maxlength="12">
                                            <validation [control]="frmUser.controls['identification']"></validation>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" [ngClass]="{'hidden': _hideMember}">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-4">
                                            <label class="primary-label custom-label">Số thẻ BHYT</label>
                                        </div>

                                        <div class="col-xs-12 col-md-8">
                                            <input type="text" formControlName="insurrance"
                                                [patterns]="insurrancePatterns" mask="0*" name="prof_place" value=""
                                                class="form-control" maxlength="15">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" [ngClass]="{'hidden': _hideDoctor}">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-4">
                                            <label class="primary-label custom-label">Nơi công tác</label>
                                        </div>

                                        <div class="col-xs-12 col-md-8">
                                            <input type="text" formControlName="workPlace" name="prof_place"
                                                class="form-control" maxlength="255">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group {{_hideMF ? 'hidden' : ''}}"
                                    [ngClass]="{'has-error': frmUser.get('healthFacilitiesName').invalid && (frmUser.get('healthFacilitiesName').dirty || frmUser.get('healthFacilitiesName').touched)}">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-4">
                                            <label class="primary-label control-label">Tên CSYT/DN<span
                                                    class="text-danger">*</span></label>
                                        </div>

                                        <div class="col-xs-12 col-md-8">
                                            <input type="text" formControlName="healthFacilitiesName" name="prof_place"
                                                class="form-control" (keyup)="ruleRequire($event.target.value)"
                                                maxlength="255">
                                            <validation [control]="frmUser.controls['healthFacilitiesName']">
                                            </validation>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" [ngClass]="{'hidden': _hideSpecialist}">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-4">
                                            <label class="primary-label custom-label">Chuyên khoa</label>
                                        </div>

                                        <div class="col-xs-12 col-md-8">
                                            <select formControlName="specialist" class="form-control" id="specialist">
                                                <option *ngFor="let o of _specialist" [ngValue]="o.id">{{o.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-4">
                                            <label class="primary-label">Gửi giấy tờ xác thực<span
                                                    class="text-danger">*</span></label>
                                        </div>


                                        <div class="col-xs-12 col-md-8">
                                            <div class="image-uploader text-muted" data-name="first"
                                                data-description="Chứng minh thư nhân dân / thẻ căn cước">
                                                <div class="upload-content">
                                                    <span class="upload-description"> Chứng minh thư nhân dân / thẻ căn
                                                        cước </span>
                                                    <div class="upload-button">
                                                        <input #dataContainer type="file"
                                                            accept="image/*, application/pdf" multiple
                                                            (change)="detectFiles($event, 'idCard')"><span
                                                            class="btn btn-sm btn-primary-inverted">
                                                            <i class="fa fa-paperclip" aria-hidden="true"></i>Tải
                                                            lên
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="upload-content">
                                                    <div class="row" *ngFor="let o of _idCardUrls; let i = index">
                                                        <div class="col-md-2">
                                                            <img src="{{o.url}}" class="rounded mb-3 selFile"
                                                                title={{o.name}} width="50">
                                                        </div>
                                                        <div style="text-align: " class="col-md-7">
                                                            <p class="img-name">{{o.name}}</p>
                                                        </div>
                                                        <div style="padding: 15px" class="col-md-2">
                                                            <span class="btn btn-sm btn-default btn-delete"
                                                                (click)="removeFile(i, 1)">
                                                                <i aria-hidden="true"></i>Xóa file
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="text-danger margin-bottom-thin my-mat-hint">
                {{_idCardError}}<span>&nbsp;</span>
            </div> -->
                                                <div class="upload-target">
                                                    <div class="row"></div>
                                                </div>
                                            </div>
                                            <div class="image-uploader text-muted" data-name="second"
                                                data-description="Giấy phép hành nghề hoặc bằng tốt nghiệp">
                                                <div class="upload-content">
                                                    <span class="upload-description">
                                                        Giấy phép
                                                        hành nghề hoặc bằng tốt nghiệp
                                                    </span>
                                                    <div class="upload-button">
                                                        <input type="file" accept="image/*, application/pdf" multiple
                                                            (change)="detectFiles($event, 'certificate')"><span
                                                            class="btn btn-sm btn-primary-inverted">
                                                            <i class="fa fa-paperclip" aria-hidden="true"></i>Tải
                                                            lên
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="upload-content">
                                                    <div class="row" *ngFor="let o of _certificateUrls; let i = index">
                                                        <div class="col-md-2">
                                                            <img src="{{o.url}}" class="rounded mb-3 selFile"
                                                                title={{o.name}} width="50">
                                                        </div>
                                                        <div style="text-align: " class="col-md-7">
                                                            <p class="img-name">{{o.name}}</p>
                                                        </div>
                                                        <div style="padding: 15px" class="col-md-2">
                                                            <span class="btn btn-sm btn-default btn-delete"
                                                                (click)="removeFile(i, 2)">
                                                                <i aria-hidden="true"></i>Xóa file
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <span class="upload-description">Chỉ cho phép  tải lên file .jpg, .png, .jpeg , .pdf 
                                                        và có dung lượng tối đa mỗi file = 5MB </span>

                                                <!-- <div class="text-danger margin-bottom-thin my-mat-hint">
        {{_certificateError}}<span>&nbsp;</span>
    </div> -->
                                                <div class="upload-target">
                                                    <div class="row"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="select-service" *ngIf="frmUser.controls['accountType'].value != 1">
                                <h6 class="text-center text-uppercase text-blue" style="margin-top: 10px;">Lựa chọn các
                                    dịch vụ sử dụng</h6>
                                <div>
                                    <div class="iq-accordion iq-mt-20">
                                        <div class="iq-accordion iq-mt-20 accordion custom-accordion"
                                            id="accordionExample">
                                            <!-- Hỏi Bác sĩ / Cộng đồng-->
                                            <div class="iq-ad-block">
                                                <input type="checkbox" class="pull-right"
                                                    formControlName="isUsingdoctor" name="isUsingdoctor"
                                                    id="isUsingdoctor">
                                                <span href="" class="ad-title iq-tw-5 iq-font-grey"
                                                    data-toggle="collapse" data-target="#doctor"><i
                                                        class="fa fa-user-md" aria-hidden="true"></i> Hỏi Bác sĩ / Cộng
                                                    đồng </span>
                                                <div class="ad-details collapse" id="doctor">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <p>Chuyên mục Hỏi Bác sĩ / Cộng đồng là nơi trao đổi thông
                                                                tin y tế
                                                                giữa các bác sĩ, chuyên gia và người bệnh với hơn 2
                                                                triệu lượt
                                                                truy cập hàng tháng. Mỗi câu trả lời của bác sĩ hiện
                                                                trên
                                                                Mangyteviet.com là một lần danh tiếng bác sĩ đến gần
                                                                người bệnh
                                                                hơn, đồng thời cũng giúp hàng triệu người hỏi trong cộng
                                                                đồng
                                                                Mangyteviet có thêm kiến thức sức khỏe để bảo vệ bản
                                                                thân.</p>
                                                            <p>Tham gia vào chuyên mục này cũng mang lại cho bạn một
                                                                nguồn thu nhập hàng tháng. Với những câu hỏi mà người
                                                                hỏi có đặt tiền, khi trả lời thành công bạn sẽ được nhận
                                                                từ 60% đến 80% số tiền mà người hỏi đã đặt</p>
                                                            <p>Bạn có thể xem thêm thông tin về chương trình hợp tác này
                                                                tại đây <a class="text-blue" href="#!">tại đây</a></p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Gọi Bác sỹ-->
                                            <div class="iq-ad-block">
                                                <input type="checkbox" class="pull-right" formControlName="isUsingCall"
                                                    name="isUsingCall" id="isUsingCall">
                                                <span href="" class="ad-title iq-tw-5 iq-font-grey"
                                                    data-toggle="collapse" data-target="#call"><i
                                                        class="fa fa-phone fa-fw" aria-hidden="true"></i> Gọi Bác sỹ
                                                </span>
                                                <div class="ad-details collapse" id="call">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <p>Đối thoại trực tiếp cùng bệnh nhân qua điện thoại hoặc
                                                                app Mangytevn, giúp bệnh nhân hiểu chuyên sâu cũng như
                                                                có hướng đi đúng đắn nhất trong việc khám chữa bệnh.
                                                                Mangytevn.com cũng hỗ trợ tư vấn bệnh nhân đăng kí khám
                                                                hoặc tiếp tục sử dụng dịch vụ cùng Bác sỹ sau tư vấn</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Đăng tải thông tin ưu đãi, khuyến mãi, voucher giảm giá-->
                                            <div class="iq-ad-block">
                                                <input type="checkbox" class="pull-right"
                                                    formControlName="isUsingUpload" name="isUsingUpload"
                                                    id="isUsingUpload">
                                                <span href="" class="ad-title iq-tw-5 iq-font-grey"
                                                    data-toggle="collapse" data-target="#voucher "><i
                                                        class="fa fa-gift fa-fw" aria-hidden="true"></i> Đăng tải thông
                                                    tin ưu đãi, khuyến mãi, voucher giảm giá </span>
                                                <div class="ad-details collapse" id="voucher"
                                                    data-parent="#accordionExample">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <p>Chức năng này giúp bạn đăng tải các thông tin khuyến mãi,
                                                                các sản phẩm ưu đãi của cơ sở y tế và doanh nghiệp của
                                                                bạn trên Mangytevn.com</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Đăng ký khám, quản lý thông tin khung giờ khám bệnh Online-->
                                            <div class="iq-ad-block">
                                                <input type="checkbox" class="pull-right"
                                                    formControlName="isUsingRegister" name="isUsingRegister"
                                                    id="isUsingRegister">
                                                <span href="" class="ad-title iq-tw-5 iq-font-grey"
                                                    data-toggle="collapse" data-target="#register"><i
                                                        class="fa fa-calendar-plus-o fa-fw" aria-hidden="true"></i> Đăng
                                                    ký khám, quản lý thông tin khung giờ khám bệnh Online </span>
                                                <div class="ad-details collapse" id="register"
                                                    data-parent="#accordionExample">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <p>Quản lý lịch làm việc, tạo kênh bệnh nhân tra cứu đăng ký
                                                                khung giờ khám Online trên hệ thống, giúp bạn nhận đặt
                                                                hẹn trực tuyến, quản lý giờ làm việc, quản lý hồ sơ bệnh
                                                                nhân, với nhiều chức năng tiện dụng như tự động nhắn tin
                                                                SMS xác nhận, sắp xếp giờ khám..</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Đăng tin bài, video-->
                                            <div class="iq-ad-block">
                                                <input type="checkbox" class="pull-right" formControlName="isUsingVideo"
                                                    name="isUsingVideo" id="isUsingVideo">
                                                <span href="" class="ad-title iq-tw-5 iq-font-grey"
                                                    data-toggle="collapse" data-target="#file"><i
                                                        class="fa fa-file-text-o fa-fw" aria-hidden="true"></i> Đăng tin
                                                    bài, video </span>
                                                <div class="ad-details collapse" id="file"
                                                    data-parent="#accordionExample">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <p>Chuyên mục là nơi chia sẻ kinh nghiệm của Bác sỹ, chuyên
                                                                gia và người bệnh. Mỗi bài đăng là một lần danh tiếng
                                                                Bác sỹ đến gần người bệnh hơn, đồng thời cũng giúp hàng
                                                                triệu người hỏi trong cộng đồng Mangytevn.com có thêm
                                                                kiến thức sức khỏe để bảo vệ bản thân</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Đăng kí quản lý khám chữa bệnh-->
                                            <div class="iq-ad-block">
                                                <input type="checkbox" class="pull-right"
                                                    formControlName="isUsingExamination" name="isUsingExamination"
                                                    id="isUsingExamination">
                                                <span href="" class="ad-title iq-tw-5 iq-font-grey"
                                                    data-toggle="collapse" data-target="#file-2"><i
                                                        class="fa fa-pencil-square fa-fw" aria-hidden="true"></i> Đăng
                                                    kí quản lý khám chữa bệnh </span>
                                                <div class="ad-details collapse" id="file-2"
                                                    data-parent="#accordionExample">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <p>Chức năng đăng ký cho phép quản lý khám bệnh trực tuyến
                                                                từ tiếp đón, khám bệnh, quản lý kho dược, quản lý kết
                                                                quả xét nghiệm, báo cáo...</p>
                                                            <p>(Chức năng này chúng tôi sẽ liên hệ theo số điện thoại
                                                                đăng ký)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <hr>
                            </div>
                            <label class="mt-10">Vui lòng cung cấp đầy đủ thông tin để chúng tôi có thể liên hệ và hỗ
                                trợ bạn tốt nhất.</label>
                            <div class="row iq-mt-20">
                                <div>
                                    <div class="col-md-6 d-flex" [ngClass]="{'has-error': this.capcha}">
                                        <label
                                            class="required min-width-100 mt-5 {{this.capcha ? 'text-danger' : ''}}">Mã
                                            xác nhận<span class="text-danger">*</span></label>
                                        <input type="text" name="prof_place" formControlName="codeCapcha" mask="A*"
                                            maxlength="4" (change)="validateCapcha($event.target.value)"
                                            class="form-control validate">
                                    </div>
                                    <div class="col-md-3" style="margin-left: -20px; margin-top: -3px;"><img
                                            [src]="_capcha.data" width="162" height="39" alt="" /></div>
                                    <span type="button" class="btn-refresh" (click)="getCapcha()"><i
                                            class="fa fa-refresh" aria-hidden="true"></i></span>
                                    <small *ngIf="this.capcha" class="help-block"
                                        style="color: red;margin-left: 114px;">Mã xác nhận không khớp</small>
                                </div>
                            </div>
                            <label style="margin-top:10px;"><input type="checkbox" formControlName="rules"
                                    class="mr-5">Tôi đã đồng ý với
                                <a> điều khoản sử dụng </a> của Mangyte.vn
                            </label>
                            <div class="col-sm-12 text-center iq-mall-20">
                                <button type="submit" class="btn btn-lg btn-aqua btn-curvy btn-longer-width"
                                    [disabled]="frmUser.invalid" (click)="submit()"><i class="fa fa-check-square-o"
                                        aria-hidden="true"></i> Đăng ký</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
