.mat-checkbox-inner-container-no-side-margin{
    margin-top:8px!important;
}

.cursor{
    cursor: pointer !important;
}
.wrap-text-word {
    word-break: word-break !important;
    white-space: normal !important;
    overflow: visible !important;
}
