<div class="toolbar border-bottom">
    <div class="row w-100 m-0">
        <div class="col-3 text-left d-flex align-items-center">
            <button mat-stroked-button color="primary" (click)="openDialog()">
                <mat-icon class="f-20 m-l--10 mat-icon m-t-2 material-icons">add</mat-icon>{{l("CreateNew")}}
            </button>
            <div class="separate"></div>
            <mat-slide-toggle class="ml-2" [checked]="showFilter" (change)="toggedFilter()">
                <ng-container *ngIf="showFilter">{{l("ShowFilter")}}</ng-container>
                <ng-container *ngIf="!showFilter">{{l("HideFilter")}}</ng-container>
            </mat-slide-toggle>
        </div>
        <div class="col-9">
            <mat-paginator #paginator [pageSizeOptions]="pageSizeOptions" [length]="totalItems" [pageSize]="pageSize"
                showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>
<div class="content">
    <form [formGroup]="frmSearch" class="form-filter pl-2 pr-2" novalidate>
        <div class="row m-0 pt-4">
            <div class="col-md-6" *ngIf="appSession.user.accountType == 0">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{l('Unit')}}</mat-label>
                    <input matInput [formControl]="healthfacilities" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onSelectHealthFacilities($event.option.value)">
                        <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
                        <mat-option *ngFor="let o of _healthfacilities" [value]="o">
                            {{o.code + ' - ' + o.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-md-{{appSession.user.accountType == 0 ? 3 : 6}}">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{l("BookingTimeSlotsUnitTimeslost")}}</mat-label>
                    <input formControlName="keyFilter" matInput autocomplete maxlength="255">
                </mat-form-field>
            </div> 
            <div class="col-md-3 text-center d-flex align-self-center">
                <button #btnSearch mat-stroked-button (click)="customSearch()" color="primary" class="w-100 mb-4">
                    <mat-icon class="mr-2">search</mat-icon>{{l("Search")}}
                </button>
            </div>
        </div>
    </form>

    <div class="table-content" style="height: calc(100vh - 245px);">
        <table mat-table [dataSource]="dataSources" matSort #sort="matSort" matSortDisableClear matSortDirection="asc"
            class="w-100 task">
            <ng-container matColumnDef="orderNumber">
                <th mat-header-cell *matHeaderCellDef class="min-w-30 text-center pl-0"> {{l("OrderNumber")}} </th>
                <td mat-cell *matCellDef="let element; let i = index;" class="min-w-30 text-center">
                    {{(i + 1) + (paginator.pageIndex * paginator.pageSize)}}</td>
            </ng-container>
            <ng-container matColumnDef="healthFacilitiesName" *ngIf="appSession.user.accountType == 0">
                <th mat-header-cell *matHeaderCellDef class="min-w-30 text-center pl-0"> {{l("Unit")}} </th>
                <td mat-cell *matCellDef="let element; let i = index;" class="min-w-30">{{element.healthFacilitiesName}}
                </td>
            </ng-container>
            <ng-container matColumnDef="code" sticky>
                <th mat-header-cell *matHeaderCellDef class="text-center"> {{l("BookingTimeslotsCode")}} </th>
                <td mat-cell *matCellDef="let element" class="wrap-text"> {{element.code}} </td>
            </ng-container>
            <ng-container matColumnDef="name" sticky>
                <th mat-header-cell *matHeaderCellDef class="text-center"> {{l("BookingTimeslotsName")}} </th>
                <td mat-cell *matCellDef="let element" class="wrap-text"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="time" sticky>
                <th mat-header-cell *matHeaderCellDef class="text-center"> {{l("BookingTimeslotsTime")}} </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    {{element.hoursStart + ':' + element.minuteStart + '-' + element.hoursEnd + ':' + element.minuteEnd}}
                </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef class="min-w-30 text-center"> {{l('BookingTimeslotsIsActive')}}
                </th>
                <td mat-cell *matCellDef="let element" class="min-w-30 text-center">
                    <mat-icon *ngIf="element.isActive == 1">checked</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="task">
                <th mat-header-cell *matHeaderCellDef class="text-center">{{l('Task')}}</th>
                <td mat-cell *matCellDef="let element" class="mat-cell cdk-column vertical-separator mat-column w-px-30 text-center"
                    role="gridcell" stickyEnd>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" class="d-flex-column">
                        <button mat-icon-button (click)="openDialog(element)">
                            <mat-icon class="text-muted f-18">edit</mat-icon>
                            {{l("Sửa")}}
                        </button>
                        <button mat-icon-button
                            (click)="element.isActive ?showMess() : deleteDialog(element, 'code', 'timeSlotId')">
                            <mat-icon class="text-muted f-18">delete</mat-icon>
                            Xóa
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
