.btn-refresh {
    text-align: center;
    line-height: 40px;
    padding: 0px 20px;
}

.custom-overplay .overplay {
    position: unset !important;
}
.recover{
    position: relative;
}
.recover::before {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    background: #ddd;
    width: 38%;
    top: 11px;
}
.recover::after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    background: #ddd;
    width: 38%;
    top: 11px;
    right:0;
}
