.user {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 136px;
    min-height: 136px;
    max-height: 136px;
    padding: 24px 0 64px;
    background-color: #1e2129;
    margin-bottom: 60px;
    .avatar-container {
        position: absolute;
        top: 92px;
        border-radius: 50%;
        padding: 6px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        left: 50%;
        background-color: #2d323e;
        .avatar {
            width: 72px;
            height: 72px;
            margin: 0;
            border-radius: 50%;
        }
    }
}

// .mat-icon-button .mat-icon,
// .mat-icon-button i {
//     line-height: 20px !important
// }

.logo {
    display: flex;
    align-items: center;
    .logo-icon {
        width: 24px;
        height: 24px;
    }
    .logo-text {
        margin-left: 6px;
        font-size: 16px;
        letter-spacing: .4px;
        line-height: normal;
    }
}

/*============= common ============= */
.color-primary{color: #00695c!important;}
.is-loading .mat-option-text {display: flex;justify-content: center;}
.pl-10{padding-left: 10px!important;}
/*============= end common ============= */
/*============= font ============= */
.f14{font-size: 14px!important;}    
.f16{font-size: 16px!important;}    
.f18{font-size: 18px!important;}
.fw-500{font-weight: 500;}
/*============= end font ============= */
.wrap-text{white-space: normal!important;word-break: break-all!important; overflow: visible!important;}  
.wrap-text-word {word-break: word-break!important;white-space: normal!important;overflow: visible!important;}
/*============= table ============= */
.table-custom  .mat-table.task td.mat-cell:last-of-type{ padding-left: 10px !important; padding-right: 10px!important;}
/*============= end table ============= */
.form-custom .mat-form-field.mat-form-field-should-float mat-label{font-size: 17px;font-weight: 500;color: black;}
.text-center .mat-sort-header-container{justify-content: center;}
 /*============= firefox ============= */
 @-moz-document url-prefix() { table { border-collapse: unset!important;}}
/*============= end firefox ============= */
/*============= form-detail ============= */
.form-detail .mat-datepicker-toggle-default-icon{display: none!important;}
.form-detail .mat-select-arrow{visibility: hidden;}
.form-detail mat-label{color: black;}
.form-detail .mat-form-field input.mat-input-element {color: #00695c!important;}    
.form-detail .mat-checkbox-disabled .mat-checkbox-label {color:black;font-size: 14px;font-weight: 500;}
.custom-form .mat-form-field-label-wrapper {left: -5px;}
/*============= end form-detail ============= */
/*============= responsive ============= */
@media (min-width: 1024px){
    .lbl-start{min-width: 100px;}
    .pr-5--md{padding-right: 5px!important;}
    .pl-5--md{padding-left: 5px!important;}
  }
/*============= end responsive ============= */