.user {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 136px;
    min-height: 136px;
    max-height: 136px;
    padding: 24px 0 64px;
    background-color: #1e2129;
    margin-bottom: 60px;
    .avatar-container {
        position: absolute;
        top: 92px;
        border-radius: 50%;
        padding: 6px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        left: 50%;
        background-color: #2d323e;
        .avatar {
            width: 72px;
            height: 72px;
            margin: 0;
            border-radius: 50%;
        }
    }
}

// .mat-icon-button .mat-icon,
// .mat-icon-button i {
//     line-height: 20px !important
// }

.logo {
    display: flex;
    align-items: center;
    .logo-icon {
        width: 24px;
        height: 24px;
    }
    .logo-text {
        margin-left: 6px;
        font-size: 16px;
        letter-spacing: .4px;
        line-height: normal;
    }
}

.wrap-text{
    white-space: normal;
    word-break: break-all;
}
.custom-form .mat-form-field-label-wrapper {
    left: -5px;
}
.color-primary{
    color: #00695c!important;
}
// .mat-table td.mat-cell:not(.mat-column-HealthFacilitiesId) {
//     word-break: break-all!important;
//     white-space: normal!important;
//     overflow: visible!important;
// }
.wrap-text {
    word-break: break-all!important;
    white-space: normal!important;
    overflow: visible!important;
}
.fw-500{
    font-weight: 500;
}
.f14{
    font-size: 14px!important;
}
.f16{
    font-size: 16px!important;
}
.table-custom  .mat-table.task td.mat-cell:last-of-type{    
    padding-left: 10px !important;
    padding-right: 10px!important;
}
.form-custom .mat-form-field.mat-form-field-should-float mat-label{
    font-size: 17px;
    font-weight: 500;
    color: black;
}
.text-center .mat-sort-header-container{
    justify-content: center;
}