<div class="main-content">
  <!--  <section class="overview-block-ptb iq-bg iq-features" >-->
  <div class="profile">
    <div class="iq-pt-30 profile-header iq-bg" style="background: url(/assets/images/bg/15.jpg);">
      <div class="container has-full-sized-image-triggers"><a itemprop="image" href="#" class="image full-sized-image-trigger" style="background-image: url(images/doingu/02.jpg);">
        </a>
        <div class="body">
          <ul class="breadcrumb">
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">Trang chủ</span></a></li>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/tra-cuu/" itemprop="url"><span itemprop="title">Thành viên</span></a></li>

          </ul>
          <h3>{{appSession.user.fullName}}</h3>
          <span class=" vote-list">Nữ - 27 tuổi - 0973731179</span> <button class="btn btn-default blue-outline btn-sm blue fr-on-lg"><i aria-hidden="true" class="fa fa-user-plus"></i> Chỉnh sửa thông tin cá nhân</button>
        </div>
        <div class="btn-group pull-right text-right">
          <span class="social-follow">
            <span href="#" class="btn btn-primary-inverted btn-curvy btn-sm weaker m-r-xs"> Bệnh án được chia sẻ<span>(0)</span></span>
            <span href="#" class="btn btn-primary-inverted btn-curvy btn-sm weaker m-r-xs"> Người theo dõi<span>(0)</span></span>
            <span href="#" class="btn btn-primary-inverted btn-curvy btn-sm weaker m-r-xs"> Theo dõi<span>(10)</span></span>
          </span>

        </div>
      </div>
    </div>
    <nav class="text-right-on-lg bg-grey nav-level-2">
      <div class="container no-padding">
        <ul class="nav-tabs tab-content-triggers list-unstyled list-inline auto-scroll-nav">
          <li class="no-paddings" routerLinkActive="active"><a [routerLink]="['/app/dashboard/home']" class="auto-scroll-item">Tổng quan</a></li>
          <li class="no-paddings" routerLinkActive="active"><a [routerLink]="['/app/dashboard/profile']" class="uto-scroll-item">Hồ sơ cá nhân </a></li>
          <li class="no-paddings" routerLinkActive="active"><a title="" class="auto-scroll-item"> Hồ sơ gia đình (1) </a></li>
          <li class="no-paddings" routerLinkActive="active"><a title="" class="auto-scroll-item">Đơn hàng</a></li>
          <li class="no-paddings" routerLinkActive="active"><a title="" class="auto-scroll-item">Hỏi đáp</a></li>
          <li class="no-paddings" routerLinkActive="active"><a title="" class="auto-scroll-item">Nhật ký hoạt động</a></li>
          <li class="no-paddings" routerLinkActive="active"><a title="" class="auto-scroll-item">Tiện ích</a></li>
          <li class="no-paddings" routerLinkActive="active"><a title="" class="auto-scroll-item">Cài đặt</a></li>
        </ul>
      </div>
    </nav>
    <div class="bg-grey-0">
      <div class="container">
        <div class="min-page-height clearfix">
          <div class="tab-content">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>