<div class="iq-mt-20 bg-white">
  <div class="panel panel-default ">
    <div class="panel-heading text-uppercase">Hồ sơ cá nhân</div>
    <div class="panel-body" style="display: flex;">
      <div class="panel-body-left" style="width: 18%;">
        <ul class="ul-nav-left">
          <li class=""><a href="#">Thông tin cá nhân</a></li>
          <li><a href="#">Thông tin tiền sử</a></li>
          <li class="active"><a href="#">Đơn thuốc</a></li>
          <li><a href="#">Kêt quả xét nghiệm (2)</a></li>
          <li><a href="#">Kết quả siêu âm, xquang, nội soi, CT, MRI... (1)</a></li>
          <li><a href="#">Chỉ số sinh tồn</a></li>
          <li><a href="#">Hồ sơ đính kèm (5)</a></li>
          <li><a href="#">Hồ sơ điều trị (20)</a></li>
        </ul>
      </div>
      <div class="panel-body-right bdl" style="width: 82%;">
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-4  pos no-padding-right">
              <div class="text-center" style="background: #03a9f4; text-transform: uppercase; color: #fff">Đơn thuốc</div>
              <ul class="ul-nav-don">
                <li class="active">
                  <h6 class="iq-font-15 text-bold  "><i class="fa fa-caret-down"></i> Ngày 21/8/2018</h6>
                  <a class="" href="#">
                    R21 - Viêm họng<br>
                    (Bác sĩ: Nguyễn Văn A - PKĐK Hà nội)<br>
                  </a>
                </li>
                <li class="">
                  <h6 class="iq-font-15 text-bold  "><i class="fa fa-caret-down"></i> Ngày 30/8/2018</h6>
                  <a class="" href="#">
                    R21 - Viêm Amidan<br>
                    (Bác sĩ: Nguyễn Văn A - PKĐK Hà nội)<br>
                  </a>
                </li>
                <li class="">
                  <h6 class="iq-font-15 text-bold  "><i class="fa fa-caret-down"></i> Ngày 31/8/2018</h6>
                  <a class="" href="#">
                    R21 - Viêm họng<br>
                    (Bác sĩ: Nguyễn Văn A - PKĐK Hà nội)<br>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-sm-8">
              <div class="iq-pl-10">
                <div class="title-head">Chi tiết đơn thuốc</div>
                <div class="iq-pt-10">
                  <div><label>Người thực hiện:</label><span> Phòng khám đa khoa HN</span></div>
                  <div><label>Ngày cho đơn: </label><span> 21/08/2018 8:30 </span></div>
                  <div><label>Bác sĩ chỉ định: </label><span> Nguyễn Văn A</span></div>
                  <div><label>Chuẩn đoán:</label><span> R21 - Viêm họng</span></div>
                  <div class="table-responsive">
                    <table class="table table0 table-bordered">
                      <thead>
                        <tr>
                          <th>STT</th>
                          <th>Tên thuốc</th>
                          <th>Đường dùng</th>
                          <th>Số lượng</th>
                          <th>Liều dùng trong ngày</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>Nospa (40mg)</td>
                          <td>uống</td>
                          <td>08 viên</td>
                          <td>Uống ngày 2 lần, lần 1 viên</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>Kagasdine (20mg)</td>
                          <td>uống</td>
                          <td>12 viên</td>
                          <td>Uống tối 1 viên</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>Pravetrix</td>
                          <td>uống</td>
                          <td>9 viên</td>
                          <td>Uống sáng 1 viên</td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                  <div class="">
                    <button class="btn btn-default blue-outline btn-sm blue iq-mt-10">Thêm đơn thuốc</button>
                    <button class="btn btn-default blue-outline btn-sm blue iq-mt-10">In đơn thuốc</button>
                    <button class="btn btn-default blue-outline btn-sm blue iq-mt-10">Chia sẻ</button>
                  </div>
                  <div class="red iq-font-14 iq-mt-15">Ghi chú: Các đơn thuốc tự tạo có thể xóa sửa. Các đơn thuốc đồng bộ không được xóa sửa</div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>