<form [formGroup]="_frm" class="container p-relative" novalidate>
    <div class="p-absolute t-5 r-5">
        <button mat-icon-button mat-dialog-close style="z-index: 9;" [matTooltipPosition]="'left'" matTooltip="Đóng">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-tab-group scroll-able>
        <mat-tab>
            <ng-template mat-tab-label>
                {{l("ApproveExamDetail")}}
            </ng-template>
            <div class="pt-4">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l('FromDate')}}</mat-label>
                            <input matInput [matDatepicker]="picker1" #startTime mask="00/00/0000" maxlength="10" (dateChange)="changeDate($event.value, 1)" required>
                            <mat-datepicker-toggle matSuffix [for]="picker1" class="t-2"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>

                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l('ToDate')}}</mat-label>
                            <input matInput [matDatepicker]="picker2" #endTime mask="00/00/0000" maxlength="10" (dateChange)="changeDate($event.value, 2)" required>
                            <mat-datepicker-toggle matSuffix [for]="picker2" class="t-2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="col-md-12" [hidden]="this.appSession.user.healthFacilitiesId">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l('Unit')}}</mat-label>
                            <input matInput [formControl]="healthfacilities" (click)="clickCbo()" [matAutocomplete]="auto" required>
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onSelectHealthFacilities($event.option.value)">
                                <mat-option *ngFor="let o of filteredOptions | async" [value]="o">
                                    {{o.code + ' - ' + o.name}}
                                </mat-option>
                            </mat-autocomplete>
                            <validation matSuffix [control]="healthfacilities"></validation>
                        </mat-form-field>
                    </div> 
                    <div class="col-md-12 disabled" [hidden]="!this.appSession.user.healthFacilitiesId">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l('Unit')}}</mat-label>
                            <mat-select formControlName="healthfacilities" required>
                                <mat-option *ngFor="let o of _healthfacilities" [value]="o.healthFacilitiesId">{{ o.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    
                    <div class="col-md-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l('Doctor')}}</mat-label>
                            <mat-select formControlName="doctor" required>
                                <mat-option *ngFor="let o of _doctors" [value]="o.doctorId">{{ o.fullName }}</mat-option>
                            </mat-select>
                            <validation matSuffix [control]="_frm.controls['doctor']"></validation>
                        </mat-form-field>
                    </div>
    
                    <div class="col-md-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l('Place')}}</mat-label>
                            <input type="text" formControlName="address" matInput [required]="true">
                            <validation matSuffix [control]="_frm.controls['address']"></validation>
                        </mat-form-field>
                    </div>
                    
                    <div class="table-outter scroll">
                        <table class="w-100 border mat-table mb-3" style="max-width: 100%;">
                            <thead>
                                <tr class="mat-header-row pl-0">
                                    <th class="w-px-200 mat-header-cell sticky text-center"> {{l('Khung giờ')}} </th>
                                    <th *ngFor="let el of _lstWorkingTimes" class="mat-header-cell sticky pl-2 text-center"> {{el.dayCol}} </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let t of _timeSlot" class="mat-row text-center">
                                    <td class="mat-cell">{{t.hoursStart + 'h' + t.minuteStart + ' - ' + t.hoursEnd + 'h' + t.minuteEnd}}</td>
                                    <td *ngFor="let el of _lstWorkingTimes" class="mat-cell pl-2 pr-2 text-center">
                                        <input type="checkbox" class="mycheckbox text-center" (change)="getTimeSlot(t.timeSlotId, el.date, $event.target.checked)" [disabled]="t.date == el.date">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
    <div class="text-right mb-3">
        <button class="mr-3" mat-raised-button color="primary" mat-dialog-close>{{l("Close")}}</button>
        <button class="mr-3" mat-raised-button color="primary" [disabled]="_frm.invalid" (click)="submit(0)">{{l("Save")}}</button>
        <button mat-raised-button color="primary" [disabled]="_frm.invalid" (click)="submit(1)">{{l("Lưu và Duyệt")}}</button>
    </div>
</form>
