input:read-only {
    background-color:lightgray;
}
.mat-table td.mat-cell {
    white-space: normal!important;
    word-wrap: break-word!important;
}

.mat-form-field-outline.ng-tns-c15-14.ng-star-inserted {
    width: 105% !important;
}

.mat-form-field-wrapper {
    width: 100% !important;
}
