<div class="toolbar fadeIn animated">
    <div class="row w-100 m-0">
        <div class="col-4 text-left d-flex align-items-center">
            <div class="separate"></div>
            <mat-slide-toggle class="ml-2" [checked]="showFilter" (change)="toggedFilter()">
                <ng-container *ngIf="showFilter">{{l("ShowFilter")}}</ng-container>
                <ng-container *ngIf="!showFilter">{{l("HideFilter")}}</ng-container>
            </mat-slide-toggle>
        </div>
        <div class="col-8">
            <mat-paginator #paginator [pageSizeOptions]="pageSizeOptions" [length]="totalItems" [pageSize]="pageSize"
                           showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>
<div class="content fadeIn animated">
    <form [formGroup]="frmSearch" class="form-filter form-custom pl-2 pr-2" novalidate>
        <div class="row m-0 pt-4">
            <div class="col-md-8" [hidden]="this.appSession.user.healthFacilitiesId">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{l('Unit')}}</mat-label>
                    <input matInput [formControl]="healthfacilities" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                                      (optionSelected)="onSelectHealthFacilities($event.option.value)">
                        <mat-option *ngIf="isLoading" class="is-loading">
                            <mat-spinner diameter="50"></mat-spinner>
                        </mat-option>
                        <mat-option *ngFor="let o of _healthfacilities" [value]="o">
                            {{o.code + ' - ' + o.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-md-8 disabled" [hidden]="!this.appSession.user.healthFacilitiesId">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{l('Unit')}}</mat-label>
                    <mat-select formControlName="healthfacilities">
                        <mat-option *ngFor="let o of _healthfacilities" [value]="o.healthFacilitiesId">
                            {{ o.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{l('Bác sĩ đăng ký')}}</mat-label>
                    <mat-select formControlName="doctor">
                        <mat-option [innerHTML]="'<div class=\'text-center border-bottom w-100\'>'+ l('Bỏ chọn') +'</div>'">
                        </mat-option>
                        <mat-option *ngFor="let o of _doctors" [value]="o.doctorId">{{ o.fullName }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-8 fadeIn animated">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{l("Tìm kiếm")}}</mat-label>
                    <input maxlength="255" placeholder="Họ tên, Số điện thoại, Mã đặt khám"
                           formControlName="packagesNameDescription" matInput autocomplete>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{l('Trạng thái khám')}}</mat-label>
                    <mat-select formControlName="status" required>
                        <mat-option *ngFor="let o of status" [value]="o.id">{{ o.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{l('Thời gian')}}</mat-label>
                    <mat-select required formControlName="time" (selectionChange)="onSelectTime($event.value)">
                        <mat-option *ngFor="let o of times" [value]="o.id">{{ o.name }}</mat-option>
                    </mat-select>
                </mat-form-field>


            </div>
            <div class="col-md-4">
                <div class="group-calender d-flex">
                    <div class="col pl-0">
                        <mat-form-field appearance="outline" class="d-flex w"
                                        [ngClass]="{'mat-form-field-invalid': (frmSearch.get('time').value==10 && !startTime.value) || (frmSearch.get('time').value==10 && (startTime.value > endTime.value))}">
                            <mat-label>{{l('Từ ngày')}}</mat-label>
                            <input readonly style="cursor: inherit" disabled (click)="picker.open()" [disabled]="_isDateTimeEnable" matInput #startTime [matDatepicker]="picker" mask="0*"
                                   required maxlength="10" [disabled]="type == 10"
                                   [required]="frmSearch.get('time').value==10 && !startTime.value">
                            <mat-datepicker-toggle matSuffix [for]="picker" class="t-2"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-icon class="icon-alert" matSuffix
                                      *ngIf="frmSearch.get('time').value==10 && !startTime.value" class="text-danger"
                                      matTooltip="{{l('Không được để trống')}}">info</mat-icon>
                            <mat-icon matSuffix
                                      *ngIf="frmSearch.get('time').value==10 && (startTime.value > endTime.value)"
                                      class="text-danger" matTooltip="{{l('Từ ngày không được lớn hơn Đến ngày')}}">info</mat-icon>
                        </mat-form-field>
                    </div>
                </div>

            </div>
            <div class="col-md-4" id="cbo-endTime"
                 [ngClass]="{'mat-form-field-invalid':(frmSearch.get('time').value==10 && !startTime.value) || (frmSearch.get('time').value==10 && (startTime.value > endTime.value))}">
                <mat-form-field appearance="outline" class="icon-alert w-100">
                    <mat-label>{{l('Đến ngày')}}</mat-label>
                    <input readonly style="cursor: inherit" disabled (click)="picker1.open()" [disabled]="_isDateTimeEnable" matInput #endTime [matDatepicker]="picker1" mask="0*"
                           [required]="frmSearch.get('time').value==10 && !endTime.value" maxlength="10">
                    <mat-datepicker-toggle matSuffix [for]="picker1" class="t-2"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-icon matSuffix *ngIf="frmSearch.get('time').value==10 && !endTime.value" class="text-danger"
                              matTooltip="{{l('Không được để trống')}}">info</mat-icon>
                    <mat-icon class="icon-alert" matSuffix
                              *ngIf="frmSearch.get('time').value==10 && (startTime.value > endTime.value)"
                              class="text-danger" matTooltip="{{l('Đến ngày không được nhỏ hơn Từ ngày')}}">info</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-3 text-center d-flex align-self-center fadeIn animated ml-auto">
                <button #btnSearch mat-stroked-button color="primary" (click)="customSearch()" class="w-100 mb-4">
                    <mat-icon class="mr-2">search</mat-icon>{{l("Search")}}
                </button>
            </div>
            <div class="col-md-3 text-center d-flex align-self-center fadeIn animated mr-auto">
                <button mat-stroked-button color="primary"
                        [disabled]="frmSearch.get('time').value==10 && !startTime.value || frmSearch.get('time').value==10 && !endTime.value || startTime.value > endTime.value"
                        (click)="btnSearchClicks$.next($event)" class="w-100 mb-4">
                    {{l("Xuất Excel")}}
                </button>
            </div>
        </div>
    </form>

    <div class="table-content" style="height: calc(100vh - 245px);">
        <table mat-table [dataSource]="dataSources" matSort #sort="matSort" matSortDisableClear matSortActive="id"
               matSortDirection="desc" class="w-100 task">
            <ng-container matColumnDef="orderNumber">
                <th mat-header-cell *matHeaderCellDef class="min-w-50 text-center pl-0"> {{l("OrderNumber")}} </th>
                <td mat-cell *matCellDef="let element; let i = index;" class="min-w-30 text-center">
                    {{(i + 1) + (paginator.pageIndex * paginator.pageSize)}}
                </td>
            </ng-container>
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef class="text-center"> {{l('Mã đặt khám')}} </th>
                <td mat-cell *matCellDef="let element" class="td-ellipsis">{{element.ticketId}}</td>
            </ng-container>
            <ng-container matColumnDef="patient">
                <th mat-header-cell *matHeaderCellDef class="text-center"> {{l('Tên bệnh nhân')}} </th>
                <td mat-cell *matCellDef="let element" class="td-ellipsis">{{element.bookingUser}}</td>
            </ng-container>
            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef class="text-center min-w-100">
                    {{l('Giới tính')}}
                </th>
                <td mat-cell *matCellDef="let element" class="text-left"> {{getGender(element.gender)}}</td>
            </ng-container>
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef class="text-center"> {{l('Số điện thoại')}}</th>
                <td mat-cell *matCellDef="let element" class="text-right"> {{element.phoneNumber}}</td>
            </ng-container>
            <ng-container matColumnDef="year">
                <th mat-header-cell *matHeaderCellDef class="text-center"> {{l('Năm sinh')}}</th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.birthYear}}</td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef class="text-center"> {{l('Mô tả triệu chứng')}}</th>
                <td mat-cell *matCellDef="let element" class="text-left"> {{element.reason}}</td>
            </ng-container>
            <ng-container matColumnDef="doctor">
                <th mat-header-cell *matHeaderCellDef class="text-center"> {{l('Bác sĩ đăng ký')}}</th>
                <td mat-cell *matCellDef="let element" class="text-left"> {{element.fullName}}</td>
            </ng-container>
            <ng-container matColumnDef="examinationDate">
                <th mat-header-cell *matHeaderCellDef class="text-center"> {{l('Thời gian hẹn')}}</th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    {{element.examinationDate | date: 'dd/MM/yyyy'}} {{handleTime(element)}}
                </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef class="min-w-100 text-center pr-2"> {{l('Trạng thái khám')}} </th>
                <td mat-cell *matCellDef="let element" class="text-left"> {{getStatus(element.status)}}</td>
            </ng-container>
            <ng-container matColumnDef="task">
                <th mat-header-cell *matHeaderCellDef class="text-center">{{l('Task')}}</th>
                <td mat-cell *matCellDef="let element" class="w-px-30 pr-0">
                    <div class="d-flex">
                        <button mat-icon-button *ngIf="element.status != 3 ? true : false"
                                (click)="openCustomDialog(element)">
                            <mat-icon class="text-muted">sms</mat-icon>
                        </button>
                        <button mat-icon-button (click)="detail(element)">
                            <mat-icon class="text-muted">dvr</mat-icon>
                        </button>
                        <button mat-icon-button *ngIf="element.status == 0 || element.status == 1 ? true : false"
                                (click)="openDialog(element)">
                            <mat-icon class="text-muted f-18">edit</mat-icon>
                        </button>
                        <button mat-icon-button *ngIf="element.status == 0 || element.status == 1 ? true : false"
                                (click)="deleteDialogPackage(element)">
                            <mat-icon class="text-danger f-18">cancel</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="fadeIn animated"></tr>
        </table>
    </div>
</div>
