.mat-table td.mat-cell {
    white-space: normal!important;
    word-wrap: break-word!important;
}

.mat-form-field-outline.ng-tns-c15-14.ng-star-inserted {
    width: 105% !important;
}

.mat-form-field-wrapper {
    width: 100% !important;
}

.box-search-icon mat-icon {
    vertical-align: inherit !important;
}

.box-search {
    transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    height: 24px;
}

.box-search input {
    flex: 1;
    border: none;
    outline: none;
}
