<mat-card style="width: 400px;" class="mat-elevation-z8 p-relative">
    <div class="p-absolute t-5 r-5">
        <button mat-icon-button mat-dialog-close style="z-index: 9;" [matTooltipPosition]="'left'" matTooltip="Đóng">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-card-header class="d-flex flex-column justify-content-center">
        <h4 class="header blue lighter bigger mt-0" style="text-align:center">
            <img src="assets/images/logo-viettel_03.png">
            <br>
            <span class=" text-primary"> VIETTEL GATEWAY</span>
        </h4>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="frmResetPassword" novalidate>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{l("PasswordOld")}}</mat-label>
                <input formControlName="passwordOld" matInput type="password" [required]="true">
                <validation matSuffix [control]="frmResetPassword.controls['passwordOld']"></validation>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{l("PasswordNew")}}</mat-label>
                <input formControlName="passwordNew" type="password" matInput [required]="true">
                <validation matSuffix [control]="frmResetPassword.controls['passwordNew']"></validation>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{l("RePassword")}}</mat-label>
                <input formControlName="rePassword" type="password" matInput [required]="true">
                <validation matSuffix [control]="frmResetPassword.controls['rePassword']"></validation>
            </mat-form-field>
            <div class="d-flex justify-content-center">
                <button mat-raised-button color="primary" class="w-100" (click)="resetPassword()" [disabled]="frmResetPassword.invalid">{{l("Lưu")}}</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
