<div class="main-content bg-grey-0" id="booking-page">
  <div class="container">

    <div class="panel panel-default iq-mt-20">
      <div class="panel-body">
        <form class="form-horizontal frmBooking" [formGroup]="frmBooking" novalidate>
          <div class="tab-pane">
            <!-- 1 -->
            <div class="form-group">
              <div class="col-sm-6 text-center">
                <div class="radio"><label class="btn-block"><input type="radio" formControlName="bookingType" name="bookingType" [value]="1">Đặt cho mình</label></div>
              </div>
              <div class="col-sm-6 text-center">
                <div class="radio"><label class="btn-block"><input type="radio" formControlName="bookingType" name="bookingType" [value]="2">Đặt cho người thân</label></div>
              </div>
            </div>
            <ng-container *ngIf="frmBooking.get('bookingType').value===2">
              <div class="group-title"><b><u>Thông tin người đặt khám</u></b></div>
              <div class="form-group" [ngClass]="{'has-error': frmBooking.get('bookingRepresent').invalid && (frmBooking.get('bookingRepresent').dirty || frmBooking.get('bookingRepresent').touched)}">
                <label for="bookingRepresent" class="col-sm-2 col-lg-4 control-label">Họ và tên <span class="text-danger">*</span></label>
                <div class="col-sm-10 col-lg-6">
                  <input formControlName="bookingRepresent" type="text" class="form-control" id="bookingRepresent" placeholder="VD: Nguyễn Văn A" maxlength="255">
                  <validation [control]="frmBooking.controls['bookingRepresent']"></validation>
                </div>
              </div>
              <div class="form-group" [ngClass]="{'has-error': frmBooking.get('phoneRepresent').invalid && (frmBooking.get('phoneRepresent').dirty || frmBooking.get('phoneRepresent').touched)}">
                <label for="phoneRepresent" class="col-sm-2 col-lg-4 control-label">Số điện thoại <span class="text-danger">*</span></label>
                <div class="col-sm-10 col-lg-6">
                  <input formControlName="phoneRepresent" type="text" (keyup)="rulePhoneNumber($event)" class="form-control" id="phoneRepresent" placeholder="VD: 0916110785" minlength="10" maxlength="45">
                  <validation [control]="frmBooking.controls['phoneRepresent']"></validation>
                </div>
              </div>
              <div class="form-group">
                <label for="emailRepresent" class="col-sm-2 col-lg-4 control-label">Email</label>
                <div class="col-sm-10 col-lg-6">
                  <input formControlName="emailRepresent" type="text" class="form-control" id="emailRepresent" (keyup)="ruleEmail($event)" placeholder="VD: nguyenvana@gmail.com" maxlength="320">
                  <validation [control]="frmBooking.controls['emailRepresent']"></validation>
                </div>
              </div>
              <div class="form-group">
                <label for="relationship" class="col-sm-2 col-lg-4 control-label">Quan hệ với người khám <span class="text-danger">*</span></label>
                <div class="col-sm-10 col-lg-6">
                  <select formControlName="relationshipId" class="form-control" id="relationship">
                    <option *ngFor="let r of _relationship" [value]="r.id">{{r.name}}</option>
                  </select>
                </div>
              </div>
            </ng-container>

            <ng-container>
              <div class="group-title"><b><u>Thông tin người khám</u></b></div>
              <div class="form-group" [ngClass]="{'has-error': frmBooking.get('bookingUser').invalid && (frmBooking.get('bookingUser').dirty || frmBooking.get('bookingUser').touched)}">
                <label for="bookingUser" class="col-sm-2 col-lg-4 control-label">Họ và tên <span class="text-danger">*</span></label>
                <div class="col-sm-10 col-lg-6">
                  <input #bookingUser formControlName="bookingUser" type="text" class="form-control" id="bookingUser" placeholder="VD: Nguyễn Văn A" maxlength="255">
                  <validation [control]="frmBooking.controls['bookingUser']"></validation>
                </div>
              </div>
              <div class="form-group" [ngClass]="{'has-error': frmBooking.get('phoneNumber').invalid && (frmBooking.get('phoneNumber').dirty || frmBooking.get('phoneNumber').touched)}">
                <label for="phoneNumber" class="col-sm-2 col-lg-4 control-label">Số điện thoại <span class="text-danger">*</span></label>
                <div class="col-sm-10 col-lg-6">
                  <input #phoneNumber formControlName="phoneNumber" (keyup)="rulePhoneNumber($event)" type="text" class="form-control" id="phoneNumber" placeholder="VD: 0916110785" minlength="10" maxlength="45">
                  <validation [control]="frmBooking.controls['phoneNumber']"></validation>
                </div>
              </div>
              <div class="form-group">
                <label for="email" class="col-sm-2 col-lg-4 control-label">Email</label>
                <div class="col-sm-10 col-lg-6">
                  <input formControlName="email" type="text" class="form-control" id="email" (keyup)="ruleEmail($event)" placeholder="VD: nguyenvana@gmail.com" maxlength="320">
                  <validation [control]="frmBooking.controls['email']"></validation>
                </div>
              </div>
              <div class="form-group">
                <label for="relationship" class="col-sm-2 col-lg-4 control-label">Giới tính</label>
                <div class="col-sm-10 col-lg-6">
                  <select formControlName="gender" class="form-control" id="gender">
                    <option *ngFor="let o of _gender" [value]="o.id">{{o.name}}</option> 
                  </select>
                </div>
              </div>
              <div class="form-group" [ngClass]="{'has-error': frmBooking.get('birthYear').invalid && (frmBooking.get('birthYear').dirty || frmBooking.get('birthYear').touched)}">
                <label for="birthD" class="col-sm-2 col-lg-4 control-label">Ngày sinh <span class="text-danger">*</span></label>
                <div class="col-sm-10 col-lg-6">
                  <div class="row">
                    <div class="col-xs-3">
                      <ng-select formControlName="birthDay" id="birthD" [items]="_dates" (ngModelChange)="onSelectBirthDay($event)" placeholder="Ngày"></ng-select>
                    </div>
                    <div class="col-xs-5">
                      <ng-select formControlName="birthMonth" id="birthM" (ngModelChange)="onSelectBirthMonth($event)" placeholder="Tháng">
                        <ng-option *ngFor="let o of _months" [value]="o">Tháng {{o}}</ng-option>
                      </ng-select>
                    </div>
                    <div class="col-xs-4">
                      <ng-select formControlName="birthYear" id="birthY" [items]="_years" (ngModelChange)="onSelectBirthYear($event)" placeholder="Năm"></ng-select>
                    </div>
                  </div>
                  <validation [control]="frmBooking.controls['birthYear']"></validation>
                </div>
              </div>
              <div class="form-group">
                <label for="address" class="col-sm-2 col-lg-4 control-label">Địa chỉ</label>
                <div class="col-sm-10 col-lg-6">
                  <input formControlName="address" type="text" class="form-control" id="address" placeholder="VD: 52 Lĩnh Nam" maxlength="255">
                </div>
              </div>
              <div class="form-group">
                <label for="provinceCode" class="col-sm-2 col-lg-4 control-label">Tỉnh/ Thành phố</label>
                <div class="col-sm-10 col-lg-6">
                  <ng-select [searchable]="false" formControlName="provinceCode" id="provinceCode" (ngModelChange)="onSelectProvince($event)">
                    <ng-option *ngFor="let o of _provinces" [value]="o.provinceCode">{{ o.name }}</ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="form-group">
                <label for="districtCode" class="col-sm-2 col-lg-4 control-label">Quận/ Huyện</label>
                <div class="col-sm-10 col-lg-6">
                  <ng-select [searchable]="false" formControlName="districtCode" id="districtCode">
                    <ng-option *ngFor="let o of _districts" [value]="o.districtCode">{{ o.name }}</ng-option>
                  </ng-select>
                </div>
              </div>
            </ng-container>
            <div class="form-group" [ngClass]="{'has-error': frmBooking.get('reason').invalid && (frmBooking.get('reason').dirty || frmBooking.get('reason').touched)}">
              <label for="reason" class="col-sm-2 col-lg-4 control-label">Mô tả triệu chứng, lý do khám <span class="text-danger">*</span></label>
              <div class="col-sm-10 col-lg-6">
                <textarea rows="5" formControlName="reason" class="form-control" id="reason" maxlength="1000"></textarea>
                <validation [control]="frmBooking.controls['reason']"></validation>
              </div>
            </div>

            <!-- 2 -->
            <ng-container>
              <div class="group-title"><b><u>Thông tin phòng khám</u></b></div>
              <div class="form-group" [ngClass]="{'has-error': (frmBooking.get('provinceCodeExamination').invalid && (frmBooking.get('provinceCodeExamination').dirty || frmBooking.get('provinceCodeExamination').touched)) || (frmBooking.get('districtCodeExamination').invalid && (frmBooking.get('districtCodeExamination').dirty || frmBooking.get('districtCodeExamination').touched))}">
                <label for="provinceCode" class="col-sm-2 col-lg-4 control-label">Địa bàn muốn khám  <span class="text-danger">*</span></label>
                <div class="col-md-3">
                  <ng-select [searchable]="false" placeholder="Chọn tỉnh, thành phố" formControlName="provinceCodeExamination" id="provinceCodeExamination" (ngModelChange)="onSelectExaminationProvince($event)">
                    <ng-option *ngFor="let o of _provincesExamination" [value]="o.provinceCode">{{ o.name }}</ng-option>
                  </ng-select>
                  <validation [control]="frmBooking.controls['provinceCodeExamination']"></validation>
                </div>
                <div class="col-md-3">
                  <ng-select [searchable]="false" placeholder="Chọn quận, huyện" formControlName="districtCodeExamination" id="districtCodeExamination" (ngModelChange)="getHealthfacilities()">
                    <ng-option *ngFor="let o of _districtsExamination" [value]="o.districtCode">{{ o.name }}</ng-option>
                  </ng-select>
                  <validation [control]="frmBooking.controls['districtCodeExamination']"></validation>
                </div>
              </div>
              <div class="form-group">
                <label for="districtCode" class="col-sm-2 col-lg-4 control-label">Chuyên khoa</label>
                <div class="col-sm-10 col-lg-6">
                  <ng-select [searchable]="false" [multiple]="true" [closeOnSelect]="false" placeholder="Chọn chuyên khoa" formControlName="specialists" id="specialists" (change)="getHealthfacilities()">
                    <ng-option *ngFor="let o of _specialists" [value]="o.code">{{ o.name }}</ng-option>
                  </ng-select>
                </div>
              </div>

              <div class="form-group" [ngClass]="{'has-error': frmBooking.get('healthFacilitiesId').invalid && (frmBooking.get('healthFacilitiesId').dirty || frmBooking.get('healthFacilitiesId').touched)}">
                <label for="districtCode" class="col-sm-2 col-lg-4 control-label">Chọn phòng khám <span class="text-danger">*</span></label>
                <div class="col-sm-10 col-lg-6">
                    <ng-select [searchable]="true" placeholder="Chọn phòng khám" formControlName="healthFacilitiesId" id="healthFacilitiesId" (change)="onSelectHealthFacilities($event)">
                        <ng-option *ngFor="let o of _healthfacilities" [value]="o.healthFacilitiesId">{{ o.name }}</ng-option>
                    </ng-select>                  
                    <small *ngIf="frmBooking.controls['healthFacilitiesId'].value == null && (frmBooking.controls['healthFacilitiesId'].touched || frmBooking.controls['healthFacilitiesId'].dirty)" class="help-block" style="color: red;">Bạn cần chọn một cơ sở khám</small>
                </div>
              </div>
            </ng-container>

            <!-- 3 -->
            <ng-container>
              <div class="group-title"><b><u>Thông tin lịch khám</u></b></div>
              <div class="form-group">
                <label for="districtCode" class="col-sm-2 col-lg-4 control-label">Chọn bác sĩ </label>
                <div class="col-sm-10 col-lg-6">
                  <ng-select [searchable]="false" placeholder="Chọn bác sĩ" formControlName="doctorId" id="doctorId">
                    <ng-option *ngFor="let o of _doctors" [value]="o.doctorId">{{ o.fullName }}</ng-option>
                  </ng-select>
                </div>
              </div>
              
              <div class="form-group">
                <label for="examinationDate" class="col-sm-2 col-lg-4 control-label">Chọn ngày khám <span class="text-danger">*</span></label>
                <div class="col-sm-10 col-lg-6">
                  <div class="input-group" [ngClass]="{'has-error': frmBooking.get('examinationDate').invalid && (frmBooking.get('examinationDate').dirty || frmBooking.get('examinationDate').touched)}">
                    <input class="form-control" style="float:none; font-size: 14px;" ngx-mydatepicker name="examinationDate" [options]="myDatePickerOptions" #dp="ngx-mydatepicker" #examinationDate mask="00/00/0000" (keyup)="onKeyupDate($event.target.value)" (dateChanged)="onDateChanged($event)" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" (click)="dp.clearDate()"><i class="fa fa-times"></i></button>
                      <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()"><i class="fa fa-calendar"></i></button>
                    </span>
                  </div>
                  <validation [control]="frmBooking.controls['examinationDate']"></validation>
                </div>
              </div>
              
              <div class="form-group" [ngClass]="{'has-error': frmBooking.get('examinationTime').invalid && (frmBooking.get('examinationTime').dirty || frmBooking.get('examinationTime').touched)}">
                <label for="examinationTime" class="col-sm-2 col-lg-4 control-label">Chọn giờ khám <span class="text-danger">*</span></label>
                <div class="col-sm-10 col-lg-6">
                  <input style="font-size: 14px;" formControlName="examinationTime" mask="Hh:m0" type="text" class="form-control" id="examinationTime">
                  <small *ngIf="frmBooking.controls['examinationTime'].value == null && (frmBooking.controls['examinationTime'].touched || frmBooking.controls['examinationTime'].dirty)" class="help-block" style="color: red;">Bạn cần chọn thời gian khám</small>
                </div>
              </div>
            </ng-container>          
          </div>

        </form>
      </div>

      <div class="panel-footer bg-white">
        <button class="btn btn-primary" style="float: right;" (click)="submit()"><i class="ion-checkmark-circled iq-mr-10"></i> Xác nhận</button>
        <div class="clearfix"></div>
      </div>
    </div>

  </div>
</div>
