<div id="tong-quan" class="tab-pane fade active in">
    <div class="col-md-6 col-sm-12">
      <div class="row">
        <ul>
          <li class="li-box bg-blue">
            <div class="fl-on-lg "><img src="./assets/images/icon/doctor.png" width="60" height="59" alt=""> </div>
            <div class="li-text">Khám bệnh</div>
            <div class="post-text">2 lượt</div>
          </li>
          <li class="li-box bg-green">
            <div class="fl-on-lg "><img src="./assets/images/icon/tubb.png" width="60" height="59" alt=""> </div>
            <div class="li-text">Xét nghiệm</div>
            <div class="post-text">2 lần</div>
          </li>
          <li class="li-box bg-purple">
            <div class="fl-on-lg "><img src="./assets/images/icon/family.png" width="60" height="59" alt=""> </div>
            <div class="li-text">Hồ sơ gia đình</div>
            <div class="post-text">2 hồ sơ</div>
          </li>
          <li class="li-box bg-pink">
            <div class="fl-on-lg "><img src="./assets/images/icon/hinhanh.png" width="60" height="59" alt=""> </div>
            <div class="li-text">Hình ảnh</div>
            <div class="post-text">2 lần</div>
          </li>
          <li class="li-box bg-green-light">
            <div class="fl-on-lg "><img src="./assets/images/icon/cap.png" width="60" height="59" alt=""> </div>
            <div class="li-text" style="color: #34c0a3">Đơn thuốc</div>
            <div class="post-text">2 đơn</div>
          </li>
          <li class="li-box bg-blue-light">
            <div class="fl-on-lg "><img src="./assets/images/icon/hoidap.png" width="60" height="59" alt=""> </div>
            <div class="li-text" style="color: #4e8fac">Hỏi đáp</div>
            <div class="post-text">0 câu hỏi</div>
          </li>
        </ul>
      </div>
    </div>
      <div class="col-md-6 col-sm-12">
        <div class="row">
          <div class="panel panel-default" style="margin-top: 15px;">
            <div class="panel-heading"><span class="text-uppercase">Chỉ số sinh tồn</span> <span class="right-panel"><a href="#">+ Thêm chỉ số</a></span></div>
            <div class="panel-body"><img class="img-responsive" src="./assets/images/bieudochiso.jpg" width="487" height="185" alt=""></div>
          </div>
        </div>
      </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading"><span class="text-uppercase">Lịch sử khám</span></div>
        <div class="panel-body">
          <img class="img-responsive" src="./assets/images/timeline.jpg" width="1108" height="147" alt=""> 
          <p>Mục hiển thị timeline này có mẫu sẵn ở page nào đội dự cán copy lại cho nhanh nhé</p>
        </div>
        
      </div>
    </div>
  </div>
    
  </div>