<form [formGroup]="_frmpackagedistribute" class="container p-relative form-task" id="form-dialog" novalidate>
  <div class="p-absolute t-5 r-5">
      <button mat-icon-button mat-dialog-close style="z-index: 9;" [matTooltipPosition]="'left'" matTooltip="Đóng">
          <mat-icon>close</mat-icon>
      </button>
  </div>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        {{l("CreateNew")}} {{l("PackageDistributeSmsPackageHead")}}
      </ng-template>
      <div class="pt-4">
          <div class="row">
              <div class="col-md-6">
                  <mat-form-field appearance="outline" class="w-100">
                      <mat-label>{{l('PackageDistributeHealthFacilities')}}</mat-label>
                      <mat-select formControlName="healthFacilitiesId" [required]="true" multiple>
                          <mat-option *ngFor="let o of _medicalFacility" [value]="o.healthFacilitiesId">{{ o.code }} - {{ o.name }}</mat-option>
                      </mat-select>
                      <mat-icon matSuffix *ngIf="_frmpackagedistribute.controls['healthFacilitiesId'].invalid && (_frmpackagedistribute.controls['healthFacilitiesId'].dirty || _frmpackagedistribute.controls['healthFacilitiesId'].touched)" [matTooltipPosition]="'before'" matTooltipClass="bg-danger text-light mr-1" matTooltip="{{l('NotBeEmpty')}}" color="warn">info</mat-icon>
                  </mat-form-field>
              </div>
              <div class="col-md-6">
                  <mat-form-field appearance="outline" class="w-100">
                      <mat-label>{{l('PackageDistributeSmsPackages')}}</mat-label>
                      <mat-select formControlName="smsPackageId" [required]="true">
                          <mat-option *ngFor="let o of _package" [value]="o.id">{{ o.name }}</mat-option>
                      </mat-select>
                      <mat-icon matSuffix *ngIf="_frmpackagedistribute.controls['smsPackageId'].invalid && (_frmpackagedistribute.controls['smsPackageId'].dirty || _frmpackagedistribute.controls['smsPackageId'].touched)" [matTooltipPosition]="'before'" matTooltipClass="bg-danger text-light mr-1" matTooltip="{{l('NotBeEmpty')}}" color="warn">info</mat-icon>
                  </mat-form-field>
              </div>
              <div class="col-md-6">
                  <mat-form-field appearance="outline" class="w-100">
                      <mat-label>{{l('PackageDistributeMonth')}}</mat-label>
                      <mat-select formControlName="monthStart">
                          <mat-option *ngFor="let o of _month" [value]="o.id">{{ o.name }}</mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <div class="col-md-6"  [ngClass]="{'mat-form-field-invalid':_frmpackagedistribute.controls['yearEnd'].value < _frmpackagedistribute.controls['yearStart'].value}">
                  <mat-form-field appearance="outline" class="w-100">
                      <mat-label>{{l("Từ năm")}}</mat-label>
                      <input type="text" maxlength="4" formControlName="yearStart" mask="0*" matInput autocomplete [required]="true">
                      <mat-icon  class="alert-empty" matSuffix *ngIf="_frmpackagedistribute.get('yearStart').invalid && (_frmpackagedistribute.controls['yearStart'].dirty || _frmpackagedistribute.controls['yearStart'].touched)" [matTooltipPosition]="'before'" matTooltipClass="bg-danger text-light mr-1" matTooltip="{{l('NotBeEmpty')}}" color="warn">info</mat-icon>
                      <mat-icon class="alert-compare" matSuffix *ngIf="(_frmpackagedistribute.get('yearStart').value) > 0 && (_frmpackagedistribute.get('yearStart').value < _currentYear)" [matTooltipPosition]="'before'" matTooltipClass="bg-danger text-light mr-1" matTooltip="{{l('PackageDistributeCompareYears')}}" color="warn">info</mat-icon>                      
                      <mat-icon class="alert-compare" matSuffix *ngIf="(_frmpackagedistribute.get('yearStart').value > 0) && (_frmpackagedistribute.get('yearStart').value >= _currentYear) && (_frmpackagedistribute.get('yearStart').value > _frmpackagedistribute.get('yearEnd').value)" [matTooltipPosition]="'before'" matTooltipClass="bg-danger text-light mr-1" matTooltip="{{l('Khong duoc lon hơn den nam')}}" color="warn">info</mat-icon>
                    </mat-form-field>
              </div>
              <div class="col-md-6">
                  <mat-form-field appearance="outline" class="w-100">
                      <mat-label>{{l('Đến tháng')}}</mat-label>
                      <mat-select formControlName="monthEnd">
                          <mat-option *ngFor="let o of _month" [value]="o.id">{{ o.name }}</mat-option>
                      </mat-select>
                      <mat-icon matSuffix *ngIf="(_frmpackagedistribute.controls['monthStart'].value > _frmpackagedistribute.controls['monthEnd'].value)" [matTooltipPosition]="'before'" matTooltipClass="bg-danger text-light mr-1" matTooltip="{{l('Đến tháng phải lớn hơn hoặc bằng Từ tháng')}}" color="warn">info</mat-icon>
                  </mat-form-field>
              </div>
              <div class="col-md-6">
                  <mat-form-field appearance="outline" class="w-100">
                      <mat-label>{{l("Đến năm")}}</mat-label>
                      <input type="text" maxlength="4" formControlName="yearEnd" mask="0*" matInput autocomplete [required]="true">
                      <mat-icon  class="alert-empty" matSuffix *ngIf="_frmpackagedistribute.get('yearEnd').invalid && (_frmpackagedistribute.controls['yearEnd'].dirty || _frmpackagedistribute.controls['yearEnd'].touched)" [matTooltipPosition]="'before'" matTooltipClass="bg-danger text-light mr-1" matTooltip="{{l('NotBeEmpty')}}" color="warn">info</mat-icon>
                      <mat-icon class="alert-compare" matSuffix *ngIf="(_frmpackagedistribute.get('yearEnd').value) > 0 && (_frmpackagedistribute.get('yearEnd').value < _currentYear)" [matTooltipPosition]="'before'" matTooltipClass="bg-danger text-light mr-1" matTooltip="{{l('PackageDistributeCompareYears')}}" color="warn">info</mat-icon>                      
                      <mat-icon class="alert-compare" matSuffix *ngIf="(_frmpackagedistribute.get('yearEnd').value >= _currentYear) && (_frmpackagedistribute.get('yearStart').value >= _currentYear) && (_frmpackagedistribute.get('yearStart').value > _frmpackagedistribute.get('yearEnd').value)" [matTooltipPosition]="'before'" matTooltipClass="bg-danger text-light mr-1" matTooltip="{{l('Khong duoc lon hơn den nam')}}" color="warn">info</mat-icon>
                    </mat-form-field>
              </div>

              <div class="col-md-6">
                  <mat-form-field appearance="outline" class="w-100">
                      <mat-label>{{l('Đầu số')}}</mat-label>
                      <mat-select formControlName="smsBrandsId" required>
                          <mat-option *ngFor="let o of _brands" [value]="o.smsBrandId">{{ o.brandName }}</mat-option>
                      </mat-select>
                      <mat-icon matSuffix *ngIf="_frmpackagedistribute.controls['smsBrandsId'].invalid && (_frmpackagedistribute.controls['smsBrandsId'].dirty || _frmpackagedistribute.controls['smsBrandsId'].touched)" [matTooltipPosition]="'before'" matTooltipClass="bg-danger text-light mr-1" matTooltip="{{l('NotBeEmpty')}}" color="warn">info</mat-icon>
                  </mat-form-field>
              </div>
              <div class="col-md-6">
                  <mat-checkbox formControlName="isActive">{{l("Using")}}</mat-checkbox>
              </div>
          </div>
        <div class="text-right mb-3">
          <button class="mr-3" mat-raised-button color="primary" mat-dialog-close>{{l("Close")}}</button>
          <button mat-raised-button color="primary" [disabled]="((_frmpackagedistribute.controls['yearStart'].invalid) || (_frmpackagedistribute.controls['yearEnd'].invalid) || (_frmpackagedistribute.controls['yearStart'].value < _currentYear) || (_frmpackagedistribute.controls['yearEnd'].value < _frmpackagedistribute.controls['yearStart'].value) || (_frmpackagedistribute.controls['monthEnd'].value < _frmpackagedistribute.controls['monthStart'].value))" (click)="submit()">{{l("Save")}}</button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</form>

