:host ::ng-deep .ck-editor__editable {
    min-height: 250px;
}
// .mat-chip .mat-chip-remove.mat-icon, .mat-chip .mat-chip-trailing-icon.mat-icon{
//     margin-left: -5px!important;
// }
.chip{
    margin-left: -5px!important;
    margin-right: 2px!important;
}