<form [formGroup]="_frm" class="container p-relative frm-doctor-task" id="form-dialog" novalidate>
    <div class="p-absolute t-5 r-5">
        <button mat-icon-button mat-dialog-close style="z-index: 9;" [matTooltipPosition]="'left'" matTooltip="Đóng">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                {{_isNew ? l("CreateNew") : l("Edit")}} {{ll("DoctorTitle")}}
            </ng-template>
            <div class="pt-4 mr-3">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("DoctorName")}}</mat-label>
                            <input #doctorName (keyup)="fullNameInput($event)" formControlName="fullName" matInput [required]="true"
                                maxlength="255" >
                            <validation matSuffix [control]="_frm.controls['fullName']"></validation>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3 class-icon">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("DoctorBirthDay")}}</mat-label>
                            <input class="custom-readonly" readonly (click)="picker.open()"
                                (dateChange)="birthDayChange($event)" [max]="maxDate" matInput [matDatepicker]="picker"
                                #birthDayPicker formControlName="birthDay">
                            <mat-datepicker-toggle matSuffix [for]="picker" class="t-2"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l('DoctorGender')}}</mat-label>
                            <mat-select formControlName="gender">
                                <mat-option *ngFor="let g of genders" [value]="g.code">{{g.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("Province")}}</mat-label>
                            <mat-select formControlName="provinceCode" (selectionChange)="provinceChange($event)">
                                <mat-option class="text-center">{{l('CancelSelect')}}</mat-option>
                                <mat-option *ngFor="let p of provinces" [value]="p.provinceCode">{{p.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("District")}}</mat-label>
                            <mat-select formControlName="districtCode">
                                <mat-option *ngIf="checkProvince" class="text-center">{{l('CancelSelect')}}</mat-option>
                                <mat-option *ngFor="let d of districts" [value]="d.districtCode">{{d.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("Address")}}</mat-label>
                            <input formControlName="address" matInput maxlength="255">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("PhoneNumber")}}</mat-label>
                            <input formControlName="phoneNumber" (input)="rulePhoneNumber()" matInput maxlength="12">
                            <validation matSuffix [control]="_frm.controls['phoneNumber']"></validation>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("Email")}}</mat-label>
                            <input (input)="ruleEmail($event)" formControlName="email" matInput maxlength="320">
                            <validation matSuffix [control]="_frm.controls['email']"></validation>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field [ngClass]="{'mat-form-field-invalid':checkCertificationCode}"
                            appearance="outline" class="w-100">
                            <mat-label>{{l("DoctorCertificationCode")}}</mat-label>
                            <input #certification (keypress)="certificationKeypress($event)"
                                (input)="certificationInput($event)" ctrlKeys (ctrlV)="onCtrlV()" (ctrlC)="onCtrlC()"
                                formControlName="certificationCode" matInput maxlength="45">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("DoctorCertificationDate")}}</mat-label>
                            <input class="custom-readonly text-readonly"
                                (click)="!_certificationInputCheck ? certificationDatePicker.open():''"
                                matTooltip="Nhập giấy phép hành nghề trước khi nhập ngày cấp"
                                [matTooltipDisabled]="!_certificationInputCheck"
                                [readonly]="_certificationInputCheck || true" #certificationDatePicker [max]="maxDate2"
                                matInput formControlName="certificationDate" [matDatepicker]="certificationDatePicker"
                                matInput>
                            <mat-datepicker-toggle [disabled]="_certificationInputCheck" matSuffix
                                [for]="certificationDatePicker" class="t-2">
                            </mat-datepicker-toggle>
                            <mat-datepicker #certificationDatePicker>
                            </mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("DoctorTitleCode")}}</mat-label>
                            <mat-select formControlName="titleCode">
                                <mat-option class="text-center">{{l('CancelSelect')}}</mat-option>
                                <mat-option *ngFor="let t of titles" [value]="t.code">{{t.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("DoctorPosition")}}</mat-label>
                            <mat-select formControlName="positionCode">
                                <mat-option class="text-center">{{l('CancelSelect')}}</mat-option>
                                <mat-option *ngFor="let p of positions" [value]="p.code">{{p.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("DoctorAcademic")}}</mat-label>
                            <mat-select formControlName="academicId">
                                <mat-option class="text-center">{{l('CancelSelect')}}</mat-option>
                                <mat-option *ngFor="let a of academics" [value]="a.id">{{a.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("DoctorDegree")}}</mat-label>
                            <mat-select formControlName="degreeId">
                                <mat-option class="text-center">{{l('CancelSelect')}}</mat-option>
                                <mat-option *ngFor="let d of degrees" [value]="d.id">{{d.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("DoctorNation")}}</mat-label>
                            <mat-select formControlName="nationCode">
                                <mat-option class="text-center">{{l('CancelSelect')}}</mat-option>
                                <mat-option *ngFor="let n of nations" [value]="n.nationCode">{{n.nationName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("DoctorEthnicity")}}</mat-label>
                            <mat-select formControlName="ethnicityCode">
                                <mat-option class="text-center">{{l('CancelSelect')}}</mat-option>
                                <mat-option *ngFor="let e of ethnicities" [value]="e.ethnicityCode">{{e.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <!-- <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l('DoctorSpecialist')}}</mat-label>
                            <input [required]="true" matInput [formControl]="specialistCodeControl"
                                (click)="clickSpecialistCbo()" [matAutocomplete]="autoSpecialist">
                            <mat-autocomplete #autoSpecialist="matAutocomplete" [displayWith]="displaySpecialistFn"
                                (optionSelected)='onSelectSpecialist($event.option.value)'>
                                <mat-option *ngFor="let o of filteredSpecialistOptions | async" [value]="o">
                                    {{o.code + ' - ' + o.name}}
                                </mat-option>
                            </mat-autocomplete>

                        </mat-form-field> -->

                        <mat-form-field appearance="outline" class="w-100"
                            [ngClass]="{'mat-form-field-invalid':!checkSpecial}">
                            <mat-label>{{l('DoctorSpecialist')}}</mat-label>
                            <mat-chip-list #specialChipList [required]="true">
                                <mat-chip *ngFor="let o of _specialistChip" [selectable]="specialSelectable"
                                    [removable]="specialRemovable" (removed)="specialRemove(o.specialistCode)"
                                    title="{{o.specialistCode + ' - ' + o.name}}">
                                    <mat-icon class="chip" matChipRemove *ngIf="specialRemovable">cancel</mat-icon>
                                    {{o.name}}
                                </mat-chip>
                                <input
                                
                                 (click)="specialistClick()" matInput #specialistInput
                                    [formControl]="specialistCodeControl" [matAutocomplete]="autoSpecialist"
                                    [matChipInputFor]="specialChipList"
                                    [matChipInputSeparatorKeyCodes]="specialSeparatorKeysCodes"
                                    [matChipInputAddOnBlur]="specialAddOnBlur"
                                    (matChipInputTokenEnd)="specialAdd($event)" (input)="specialInput()"
                                    [required]="true">
                            </mat-chip-list>
                            <mat-autocomplete matInput #autoSpecialist="matAutocomplete"
                                (optionSelected)="specialSelected($event)">
                                <mat-option class="w-100" *ngIf="specialIsLoading" class="is-loading">
                                    <mat-spinner diameter="30"></mat-spinner>
                                </mat-option>
                                <mat-option class="w-100" *ngFor="let o of _specialist" [value]="o">
                                    {{o.code +' - '+o.name}}
                                </mat-option>
                            </mat-autocomplete>
                            <validation class="mt-1" *ngIf="!checkSpecial" matSuffix [control]="specialistCodeControl">
                            </validation>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("EducationCountryCode")}}</mat-label>
                            <mat-select formControlName="educationCountryCode">
                                <mat-option class="text-center">{{l('CancelSelect')}}</mat-option>
                                <mat-option *ngFor="let n of nations" [value]="n.nationCode">{{n.nationName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row pb-3">
                    <div class="col-md-2">
                        <div style="margin-bottom:-4px" class="ml-1">
                            <mat-label class="label">{{l('DoctorAvatar')}}</mat-label>
                        </div>
                        <img #avatarImg style="padding: 2px"
                            [src]="checkAvatar ? uploadBaseUrl+ (this._obj.avatar?this._obj.avatar:'') : _avatars[0] || '../assets/images/Doctor_Default.jpg'"
                            height="180px" width="175px">
                    </div>
                    <!-- <div class="col-md-4 mt-3">
                        <div class="col-md-3 btn btn-primary">
                            <br>
                            <div class="upload-button">
                                <input type="file" accept="image/*" (change)="detectFiles($event)">
                            </div>
                        </div>
                        <div class="pl-3">
                            {{_avatarError}}<span>&nbsp;</span>
                            <br>
                            <mat-label>Ảnh định dạng png, jpg, jpeg</mat-label>
                            <br>
                            <mat-label>Dung lượng ảnh không quá 2Mb</mat-label>
                        </div>
                    </div> -->

                    <div class="col-md-2 ml-3 mt-4 image-uploader text-muted" data-name="first"
                        data-description="Ảnh đại diện">
                        <div class="upload-content">
                            <span class="upload-description"></span>
                            <span class="upload-button mt-3">
                                <input #dataContainer type="file" accept="image/*" (change)="detectFiles($event)"><span
                                    class="btn btn-sm btn-primary-inverted">
                                    <i class="fa fa-paperclip" aria-hidden="true"></i>Tải ảnh lên
                                </span>
                            </span>
                            <!-- <p style="font-size: 12px;font-style:italic; position:relative;" class="word-break-all">(Chỉ cho phép  tải lên file jpg, png, jpeg, pdf và có dung   lượng tối đa mỗi file = 5MB) </p>                             -->
                        </div>
                        <div class="ml-1 upload-content avatar-name">
                            <mat-label>{{checkAvatar==true?'':avatarName}}</mat-label>
                        </div>
                        
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p style="font-size: 12px;font-style:italic" class="word-break-all">(Chỉ cho phép  tải lên file jpg, png, jpeg và có dung lượng tối đa mỗi file = 5MB) </p>
                    </div>
                    <div class="col-md-6">
    
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <mat-label class="label">{{l('DoctorSummary')}}</mat-label>
                        </div>
                        <ckeditor (input)="summaryInput($event)" (keyup)="keyupSummary($event)" #doctorSummary class="ckeditor w-100"
                            max-length="4000"
                            [config]="{ toolbar: [ 'heading', '|', 'bold', 'italic','|','bulletedList','numberedList','|','blockQuote','link','undo','redo'] }"
                            formControlName="summary" [editor]="Editor" (ready)="onReady($event)">
                        </ckeditor>
                    </div>
                </div>

                <div class="row pt-4">
                    <div class="col-md-5">
                        <mat-form-field [ngClass]="{'mat-form-field-invalid':checkPriceFrom}" appearance="outline"
                                        class="w-100">
                            <mat-label >{{l("DoctorPriceFrom")}}</mat-label>
                            <input #priceFrom (input)="priceFromInput($event)" #priceFrom mask="dot_separator"
                                   maxlength="12" formControlName="priceFrom" matInput>
                            <!-- <mat-icon *ngIf="checkPriceFrom" matSuffix [matTooltipPosition]="'before'"
                matTooltipClass="bg-danger text-light mr-1"
                matTooltip="Giá khám từ không được nhỏ hơn giá khám đến" color="warn">info</mat-icon> -->
                        </mat-form-field>
                    </div>
                    <div class="col-md-1 custom-label"><mat-label>{{l("VNĐ")}}</mat-label></div>
                    <div class="col-md-5">
                        <mat-form-field [ngClass]="{'mat-form-field-invalid':checkPriceTo}" appearance="outline"
                                        class="w-100">
                            <mat-label>{{l("DoctorPriceTo")}}</mat-label>
                            <input #priceTo (input)="priceToInput($event)" mask="dot_separator" maxlength="12"
                                   formControlName="priceTo" matInput>
                                    <!-- <mat-icon *ngIf="checkPriceTo" matSuffix [matTooltipPosition]="'before'"
                                    matTooltipClass="bg-danger text-light mr-1"
                                    matTooltip="Giá khám từ không được nhỏ hơn giá khám đến" color="warn">info</mat-icon> -->
                        </mat-form-field>
                    </div>
                    <div class="col-md-1 custom-label"><mat-label>{{l("VNĐ")}}</mat-label></div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("DoctorPriceDescription")}}</mat-label>
                            <input formControlName="priceDescription" matInput maxlength="255">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("DoctorDescription")}}</mat-label>
                            <input formControlName="description" matInput maxlength="4000">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">

                    <!-- <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l('HealthFacilities')}}</mat-label>
                            <input matInput [formControl]="healthfacilitiesControl" (click)="clickCbo()"
                                (input)="onInputHealthfacilities()" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                                (optionSelected)='onSelectHealthFacilities($event.option.value)'>
                                <mat-option *ngFor="let o of filteredHealthFacilitiesOptions | async" [value]="o">
                                    {{o.code + ' - ' + o.name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field> -->
                        
                    <div class="col-md-12" *ngIf="appSession.user.accountType == 0">
                        <mat-form-field appearance="outline" class="w-100" [ngClass]="{'mat-form-field-invalid':!checkHealthFacilities}">
                            <mat-label>{{l('HealthFacilities')}}</mat-label>
                            <mat-chip-list #chipList>
                                <mat-chip *ngFor="let o of _healthfacilitiesChip" [selectable]="selectable"
                                    [removable]="removable" (removed)="remove(o.code)">
                                    <mat-icon class="chip" matChipRemove *ngIf="removable">cancel</mat-icon>
                                    {{o.code +' - ' +o.name}}
                                </mat-chip>
                                <input 
                                (click)="inputHealthFacilitiesClick()"
                                    matInput #healthfacilitiesInput [formControl]="healthfacilitiesControl"
                                    [matAutocomplete]="auto" [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)"
                                    (input)="healthInput()">
                            </mat-chip-list>
                            <mat-autocomplete matInput #auto="matAutocomplete" (optionSelected)="selected($event)">
                                <mat-option *ngIf="isLoading" class="is-loading">
                                    <mat-spinner diameter="30"></mat-spinner>
                                </mat-option>
                                <mat-option *ngFor="let o of _healthfacilities" [value]="o">
                                    {{o.code + ' - ' + o.name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-md-12 disabled" *ngIf="appSession.user.accountType != 0">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l('Unit')}}</mat-label>
                            <input type="text" value="{{appSession.user.healthFacilities ? appSession.user.healthFacilities.name : ''}}" matInput [required]="true" tabindex="-1">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <mat-checkbox formControlName="allowBooking" (click)="checkBoxChange('allowBooking')"
                            class="pl-3" color="primary">
                            {{l('DoctorAllowBooking')}}</mat-checkbox>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <mat-checkbox formControlName="allowFilter" (click)="checkBoxChange('allowFilter')" class="pl-3"
                            color="primary">
                            {{l('DoctorAllowFilter')}}</mat-checkbox>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <mat-checkbox formControlName="allowSearch" (click)="checkBoxChange('allowSearch')" class="pl-3"
                            color="primary">
                            {{l('DoctorAllowSearch')}}</mat-checkbox>
                    </div>
                </div>

                <div class="text-right mb-3">
                    <div *ngIf="_isNew" class="mb-2 mr-3">
                        <mat-checkbox #continueAdd (click)="checkBoxChange()" color="primary">
                            <b>{{l('DoctorContinueAdd')}}</b>
                        </mat-checkbox>
                    </div>
                    <button class="mr-3" mat-raised-button mat-dialog-close color="primary">{{l("Close")}}</button>
                    <button [disabled]="_frm.invalid" mat-raised-button color="primary"
                        (click)="submit()">{{l("Save")}}</button>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</form>
