// $font-family-sans-serif: -apple-system,
// BlinkMacSystemFont,
// "Segoe UI",
// "Helvetica Neue",
// sans-serif;

$font-family-sans-serif: Roboto, "Helvetica Neue", sans-serif;
// rewrite color

$primary: #00695c;
$red: #d78332;
$purple: #00695c;
$margin-top: 64px;
