<form [formGroup]="_frm" class="container p-relative custom-form" novalidate>
    <div class="p-absolute t-5 r-5">
        <button mat-icon-button mat-dialog-close style="z-index: 9;" [matTooltipPosition]="'left'" matTooltip="Đóng">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                {{l("DoctorDetail")}} {{ll("DoctorTitle")}}
            </ng-template>
            <div class="pt-4 mr-3">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("DoctorName")}}</mat-label>
                            <input class="custom-readonly" (keyup)="fullNameInput($event)" formControlName="fullName" matInput readonly>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 class-icon">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("DoctorBirthDay")}}</mat-label>
                            <input class="custom-readonly" readonly [value]="_birthDay" matInput>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l('DoctorGender')}}</mat-label>
                            <input class="custom-readonly" formControlName="gender" matInput readonly>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("Province")}}</mat-label>
                            <input class="custom-readonly" formControlName="provinceCode" matInput readonly>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("District")}}</mat-label>
                            <input class="custom-readonly" formControlName="districtCode" matInput readonly>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("Address")}}</mat-label>
                            <input class="custom-readonly" readonly formControlName="address" matInput maxlength="255">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("PhoneNumber")}}</mat-label>
                            <input class="custom-readonly" readonly formControlName="phoneNumber" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("Email")}}</mat-label>
                            <input class="custom-readonly" readonly formControlName="email" matInput>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("DoctorCertificationCode")}}</mat-label>
                            <input class="custom-readonly" readonly #certification ctrlKeys (ctrlV)="onCtrlV()" (ctrlC)="onCtrlC()"
                                formControlName="certificationCode" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("DoctorCertificationDate")}}</mat-label>
                            <input class="custom-readonly" readonly [value]="_certificationDate" matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("DoctorTitleCode")}}</mat-label>
                            <input class="custom-readonly" formControlName="titleCode" matInput readonly>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("DoctorPosition")}}</mat-label>
                            <input class="custom-readonly" formControlName="positionCode" matInput readonly>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("DoctorAcademic")}}</mat-label>
                            <input class="custom-readonly" formControlName="academicId" matInput readonly>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("DoctorDegree")}}</mat-label>
                            <input class="custom-readonly" formControlName="degreeId" matInput readonly>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("DoctorNation")}}</mat-label>
                            <input class="custom-readonly" formControlName="nationCode" matInput readonly>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("DoctorEthnicity")}}</mat-label>
                            <input class="custom-readonly" formControlName="ethnicityCode" matInput readonly>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <!-- <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l('DoctorSpecialist')}}</mat-label>
                            <input [required]="true" matInput [formControl]="specialistCodeControl"
                                (click)="clickSpecialistCbo()" [matAutocomplete]="autoSpecialist">
                            <mat-autocomplete #autoSpecialist="matAutocomplete" [displayWith]="displaySpecialistFn"
                                (optionSelected)='onSelectSpecialist($event.option.value)'>
                                <mat-option *ngFor="let o of filteredSpecialistOptions | async" [value]="o">
                                    {{o.code + ' - ' + o.name}}
                                </mat-option>
                            </mat-autocomplete>

                        </mat-form-field> -->

                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l('DoctorSpecialist')}}</mat-label>
                            <mat-chip-list readonly #specialChipList>
                                <mat-chip *ngFor="let o of _specialistChip" [selectable]="specialSelectable"
                                    [removable]="specialRemovable" (removed)="specialRemove(o.specialistCode)"
                                    title="{{o.specialistCode + ' - ' + o.name}}">
                                    {{o.specialistCode + ' - ' +o.name}}
                                </mat-chip>
                                <input class="custom-readonly" readonly (click)="specialistClick()" matInput #specialistInput
                                    [formControl]="specialistCodeControl" [matAutocomplete]="autoSpecialist"
                                    [matChipInputFor]="specialChipList"
                                    [matChipInputSeparatorKeyCodes]="specialSeparatorKeysCodes"
                                    [matChipInputAddOnBlur]="specialAddOnBlur"
                                    (matChipInputTokenEnd)="specialAdd($event)" (input)="specialInput()"
                                    [required]="true">
                            </mat-chip-list>
                            <mat-autocomplete readonly matInput #autoSpecialist="matAutocomplete">
                                <mat-option class="w-100" *ngIf="specialIsLoading" class="is-loading">
                                    <mat-spinner diameter="30"></mat-spinner>
                                </mat-option>
                                <mat-option class="w-100" *ngFor="let o of _specialist" [value]="o">
                                    {{o.code +' - '+o.name}}
                                </mat-option>
                            </mat-autocomplete>
                            <validation class="mt-1" *ngIf="!checkSpecial" matSuffix [control]="specialistCodeControl">
                            </validation>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("EducationCountryCode")}}</mat-label>
                            <input class="custom-readonly" formControlName="educationCountryCode" matInput readonly>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row pb-3">
                    <div class="col-md-3">
                        <div class="ml-2">
                            <mat-label class="label">{{l('DoctorAvatar')}}</mat-label>
                        </div>
                        <img style="padding: 5px"
                        [src]="checkAvatar ? 'http://123.30.214.138:9008/wwwroot'+ (this._obj.avatar?this._obj.avatar:'') : _avatars[0] || 'https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/1441527/1160/772/m1/fpnw/wm0/businessman-avatar-icon-01-.jpg?1468234792&s=e3a468692e15e93a2056bd848193e97a'"
                            height="175px" width="200px">
                    </div>
                    <!-- <div class="col-md-4 mt-3">
                        <div class="col-md-3 btn btn-primary">
                            <br>
                            <div class="upload-button">
                                <input type="file" accept="image/*" (change)="detectFiles($event)">
                            </div>
                        </div>
                        <div class="pl-3">
                            {{_avatarError}}<span>&nbsp;</span>
                            <br>
                            <mat-label>Ảnh định dạng png, jpg, jpeg</mat-label>
                            <br>
                            <mat-label>Dung lượng ảnh không quá 2Mb</mat-label>
                        </div>
                    </div> -->

                    <div class="col-md-3 mt-4 image-uploader text-muted" data-name="first"
                        data-description="Ảnh đại diện">
                        <!-- <div class="upload-content">
                            <span class="upload-description"></span>
                            <span class="upload-button mt-3">
                                <input #dataContainer type="file" accept="image/*"
                                    (change)="detectFiles($event)"><span class="btn btn-sm btn-primary-inverted">
                                    <i class="fa fa-paperclip" aria-hidden="true"></i>Tải ảnh lên
                                </span>
                            </span>
                        </div> -->
                        <div class="mt-5 ml-1 upload-content avatar-name">
                            <mat-label>{{checkAvatar==true?'':avatarName}}</mat-label>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <mat-label class="ml-2 label">{{l('DoctorSummary')}}</mat-label>
                        <ckeditor class="ckeditor" max-length="4000"
                        [config]="{ toolbar: [] }"
                        formControlName="summary" [editor]="Editor" (ready)="onReady($event)">
                        </ckeditor>
                    </div>
                </div>

                <div class="row pt-4">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("DoctorPriceFrom")}}</mat-label>
                            <input class="custom-readonly" readonly #priceFrom (input)="priceFromInput($event)" #priceFrom mask="dot_separator"
                                maxlength="12" formControlName="priceFrom" matInput>
                            <!-- <mat-icon *ngIf="checkPriceFrom" matSuffix [matTooltipPosition]="'before'"
                                matTooltipClass="bg-danger text-light mr-1"
                                matTooltip="Giá khám từ không được nhỏ hơn giá khám đến" color="warn">info</mat-icon> -->
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("DoctorPriceTo")}}</mat-label>
                            <input class="custom-readonly" readonly #priceTo (input)="priceToInput($event)" mask="dot_separator" maxlength="12"
                                formControlName="priceTo" matInput>
                            <!-- <mat-icon *ngIf="checkPriceTo" matSuffix [matTooltipPosition]="'before'"
                                matTooltipClass="bg-danger text-light mr-1"
                                matTooltip="Giá khám từ không được nhỏ hơn giá khám đến" color="warn">info</mat-icon> -->
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("DoctorPriceDescription")}}</mat-label>
                            <input class="custom-readonly" readonly formControlName="priceDescription" matInput>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("DoctorDescription")}}</mat-label>
                            <input class="custom-readonly" readonly formControlName="description" matInput ngDefaultControl>
                        </mat-form-field>

                    </div>
                </div>

                <div class="row">

                    <!-- <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l('HealthFacilities')}}</mat-label>
                            <input matInput [formControl]="healthfacilitiesControl" (click)="clickCbo()"
                                (input)="onInputHealthfacilities()" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                                (optionSelected)='onSelectHealthFacilities($event.option.value)'>
                                <mat-option *ngFor="let o of filteredHealthFacilitiesOptions | async" [value]="o">
                                    {{o.code + ' - ' + o.name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field> -->
                    <div class="col-md-12" [hidden]="this.appSession.user.healthFacilitiesId">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l('HealthFacilities')}}</mat-label>
                            <mat-chip-list readonly #chipList>
                                <mat-chip *ngFor="let o of _healthfacilitiesChip" [selectable]="selectable"
                                    [removable]="removable" (removed)="remove(o.code)">
                                    {{o.code +' - ' +o.name}}
                                </mat-chip>
                                <input class="custom-readonly" readonly matInput #healthfacilitiesInput [formControl]="healthfacilitiesControl"
                                    [matAutocomplete]="auto" [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)"
                                    (input)="healthInput()">
                            </mat-chip-list>
                            <mat-autocomplete readonly matInput #auto="matAutocomplete"
                                (optionSelected)="selected($event)">
                                <mat-option *ngIf="isLoading" class="is-loading">
                                    <mat-spinner diameter="30"></mat-spinner>
                                </mat-option>
                                <mat-option *ngFor="let o of _healthfacilities" [value]="o">
                                    {{o.code + ' - ' + o.name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-md-12 disabled" [hidden]="!this.appSession.user.healthFacilitiesId">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l('HealthFacilities')}}</mat-label>
                            <mat-select readonly formControlName="healthfacilities">
                                <mat-option *ngFor="let o of _healthfacilities" [value]="o.healthFacilitiesId">
                                    {{ o.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <mat-checkbox readonly formControlName="allowBooking"
                            class="pl-3">
                            {{l('DoctorAllowBooking')}}</mat-checkbox>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <mat-checkbox readonly formControlName="allowFilter"
                            class="pl-3">
                            {{l('DoctorAllowFilter')}}</mat-checkbox>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <mat-checkbox readonly formControlName="allowSearch"
                            class="pl-3">
                            {{l('DoctorAllowSearch')}}</mat-checkbox>
                    </div>
                </div>

                <div class="text-right mb-3">
                    <button class="mr-3" mat-raised-button mat-dialog-close color="primary">{{l("Close")}}</button>
                    <!-- <button [disabled]="_frm.invalid" mat-raised-button color="primary"
                        (click)="submit()">{{l("Save")}}</button> -->
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</form>
