<div class="main-content" id="form-dialog">
    <section class="overview-block-ptb iq-bg iq-features" style="background: url(/assets/images/bg/14.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="contentLogin">
                        <div style="margin-top:0px" class="box-control mt10 contentpanel container positionBox">
                            <div style="margin-top:15px" class="nameHT">
                                <a>QUÊN MẬT KHẨU</a>
                            </div>
                            <div class="contentpanel mt10">
                                <form [formGroup]="frmReset" class="form-horizontal">
                                    <div class="form-group">
                                        <div>
                                            <label>Tên đăng nhập/Email/Số điện thoại</label>
                                            <label class="text-danger">*</label>
                                            <input disabled readonly formControlName="info" type="text" class="form-control input-lg" autocomplete="off" maxlength="255">
                                            <validation [control]="frmReset.controls['info']"></validation>
                                        </div>
                                    </div>
                                    <div class="form-group" [ngClass]="{'has-error':highLightControl('secretCode')}">
                                        <div>
                                            <label [ngClass]="{'text-danger':highLightControl('secretCode')}">Mã bí mật</label>
                                            <label class="text-danger">*</label>
                                            <input (input)="secretCodeInput($event)" formControlName="secretCode" type="text" class="form-control input-lg" autocomplete="off" maxlength="8">
                                            <validation [control]="frmReset.controls['secretCode']"></validation>
                                        </div>
                                    </div>
                                    <div class="form-group" [ngClass]="{'has-error':highLightControl('newPassword')}">
                                        <div>
                                            <label [ngClass]="{'has-error':highLightControl('newPassword')}">Mật khẩu mới</label>
                                            <label class="text-danger">*</label>
                                            <input (input)="newPasswordInput($event)" formControlName="newPassword" type="password"  class="form-control input-lg" autocomplete="off" minlength="8" maxlength="255">
                                            <validation [control]="frmReset.controls['newPassword']"></validation>
                                        </div>
                                    </div>
                                    <div class="form-group" [ngClass]="{'has-error':highLightControl('confirmPassword')}">
                                        <div>
                                            <label [ngClass]="{'has-error':highLightControl('confirmPassword')}">Xác nhận mật khẩu mới</label>
                                            <label class="text-danger">*</label>
                                            <input (input)="confirmPasswordInput($event)" formControlName="confirmPassword" type="password" class="form-control input-lg" autocomplete="off" minlength="8" maxlength="255">
                                            <validation [control]="frmReset.controls['confirmPassword']"></validation>
                                        </div>
                                    </div>

                                    <div class="form-group" [ngClass]="{'has-error':highLightControl('capcha')}">
                                        <div class="col-md-6" style="margin-left:-15px">
                                            <label [ngClass]="{'has-error':highLightControl('capcha')}">{{l("ResetCapcha")}}</label>
                                            <label class="text-danger">*</label>
                                            <input (input)="capchaInput($event)" formControlName="capcha" autocomplete="off" maxlength="4" class="form-control input-lg">
                                            <validation [control]="frmReset.controls['capcha']"></validation>
                                        </div>
                                        <div class="col-md-4">
                                            <img style="margin-left:-13px;margin-top:30px" [src]="_capcha.data" width="160" height="40" alt="" />
                                        </div>
                                        <div class="col-md-1">
                                            <span type="button" class="btn-refresh" (click)="getCapcha()">
                                                <i class="fa fa-refresh"
                                                   style="margin-top: 39px!important;margin-left:12px"
                                                   aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group iq-mt-20">
                                        <div>
                                            <button [disabled]="frmReset.invalid" class="btn btn-aqua btn-block btn-lg" (click)="submit()">Khôi phục mật khẩu</button>
                                            <button class="btn btn-danger btn-block btn-lg " (click)="loginClick()">Quay lại đăng nhập</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
