<mat-card style="width: 400px;" class="mat-elevation-z8">
    <mat-card-header class="d-flex flex-column justify-content-center">
        <h4 class="header blue lighter bigger mt-0" style="text-align:center">
            <img src="assets/images/logo-viettel_03.png">
            <br>
            <span class=" text-primary"> VIETTEL GATEWAY</span>
        </h4>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="frmLogin" novalidate>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{l("Login_Textbox_UserName")}}</mat-label>
                <input formControlName="userNameOrEmailAddress" #userNameOrEmail matInput autocomplete autofocus (keyup)="onHandleLoginInput($event)">
                <mat-icon matSuffix *ngIf="frmLogin.controls['userNameOrEmailAddress'].valid || !frmLogin.controls['userNameOrEmailAddress'].touched" class="text-muted">account_circle</mat-icon>
                <mat-icon matSuffix *ngIf="frmLogin.controls['userNameOrEmailAddress'].invalid && (frmLogin.controls['userNameOrEmailAddress'].dirty || frmLogin.controls['userNameOrEmailAddress'].touched)" matTooltipClass="bg-danger text-light" matTooltip="Không được để trống" color="warn">info</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{l("Login_Textbox_Password")}}</mat-label>
                <input formControlName="password" type="password" matInput autocomplete="off">
                <mat-icon matSuffix *ngIf="frmLogin.controls['password'].valid || !frmLogin.controls['password'].touched" class="text-muted">lock</mat-icon>
                <mat-icon matSuffix *ngIf="frmLogin.controls['password'].invalid && (frmLogin.controls['password'].dirty || frmLogin.controls['password'].touched)" matTooltipClass="bg-danger text-light" matTooltip="Không được để trống" color="warn">info</mat-icon>
            </mat-form-field>

            <!--<div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="w-100" [ngClass]="{'mat-form-field-invalid':capcha}">
                        <mat-label>{{l("ResetCapcha")}}</mat-label>
                        <input (input)="capchaInput($event)" formControlName="capcha" matInput autocomplete="off"
                               [required]="true" class="form-control">
                        <mat-icon matSuffix *ngIf="capcha" matTooltipClass="bg-danger text-light"
                                  matTooltip="Sai mã xác nhận" color="warn">
                            info
                        </mat-icon>
                        <validation *ngIf="!capcha" matSuffix [control]="frmResetPassword.controls['capcha']"></validation>
                    </mat-form-field>
                </div>
                <div class="col-md-4 mt-1" style="margin-left:-20px!important;padding-bottom: 1px!important">
                    <img [src]="_capcha.data" width="160" height="40" alt="" />
                </div>
                <div class="col-md-1 mt-1 ml-3">
                    <span type="button" class="btn-refresh" (click)="getCapcha()">
                        <i class="fa fa-refresh"
                           aria-hidden="true"></i>
                    </span>
                </div>
            </div>-->

        <div *ngIf="numberLoginFail > 4">
            <div class="row">
                <div class="col-md-5">
                    <div class="d-flex position-relative" [ngClass]="{'has-error': this.capcha}">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Mã xác nhận <span class="text-danger">*</span></mat-label>
                            <input formControlName="codeCapcha" matInput autocomplete="off" #codeCapcha>
                            <validation matSuffix [control]="frmLogin.controls['codeCapcha']"></validation>
                            <mat-icon matSuffix *ngIf="frmLogin.controls['codeCapcha'].value == null || frmLogin.controls['codeCapcha'].value == ''" matTooltipClass="bg-danger text-light" matTooltip="Không được để trống" color="warn">info</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-5 mt-1 pl-0">
                    <div class="mr-2"><img [src]="_capcha.data" width="162" height="39" alt="" /></div>
                </div>
                <div class="col-md-1 mt-1">
                <div type="button" class="btn-refresh" (click)="getCapcha()">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </div>
                </div>
            </div>
            <!--<small *ngIf="this.capcha" class="help-block" style="color: red;margin-left: 114px;">Mã xác nhận không khớp</small>-->
            
        </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="pt-2 d-flex justify-content-start">
                        <mat-checkbox color="primary" formControlName="isRemberMeChecked">{{l("Login_Checkbox_Remember")}}</mat-checkbox>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex justify-content-center">
                        <button mat-raised-button color="primary" class="w-100" (click)="login()" [disabled]="frmLogin.controls['userNameOrEmailAddress'].invalid || frmLogin.controls['password'].invalid" [buttonBusy]="true" [busyText]="'xxx'">{{l("Login_Button_Login")}}</button>
                    </div>
                </div>
            </div>
        </form>
        <h4 class="recover mt-2" style="text-align:center">
            <a style="cursor: pointer;" (click)="resetPassWordClick()" class="f-15 pl-3 pr-3 text-primary">Quên mật khẩu ?</a>
        </h4>
    </mat-card-content>
    <mat-card-actions class=" m-l--24 m-r--24 m-b--24 p-2" style="background-color: gray">
        <a mat-button class="w-50 m-0 text-white" href="https://www.mozilla.org/vi/firefox/new/" target="_blank">Link tải firefox</a><a mat-button class="w-50 m-0 text-white" href="https://www.mozilla.org/vi/firefox/new/" target="_blank">Link tải Teamviewer</a>
    </mat-card-actions>
</mat-card>
