<mat-tab-group>
    <mat-tab label="Thông tin cá nhân">
        <ng-template matTabContent class="p-4 min-h-400"></ng-template>
</mat-tab>
    <mat-tab label="Đổi mật khẩu">
        <ng-template matTabContent class="p-4 min-h-400">
            <mat-card class="shadow-none ml-auto mr-auto max-w-400">
                <mat-card-content class="shadow-none">
                    <form [formGroup]="frmResetPassword" novalidate class="form-change-password">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("Mật khẩu hiện tại")}}</mat-label>
                            <input formControlName="Password" matInput type="password" [required]="true" maxlength="255" minlength="8" class="form-control">
                            <validation matSuffix [control]="frmResetPassword.controls['Password']"></validation>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("Mật khẩu mới")}}</mat-label> 
                            <input formControlName="NewPassword" type="password" matInput [required]="true" maxlength="255" minlength="8" class="form-control">
                            <validation matSuffix [control]="frmResetPassword.controls['NewPassword']"></validation>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("Xác nhận lại mật khẩu")}}</mat-label>
                            <input formControlName="RePassword" type="password" matInput [required]="true" maxlength="255" minlength="8" class="form-control">
                            <validation matSuffix [control]="frmResetPassword.controls['RePassword']"></validation>
                        </mat-form-field>
                        <div>
                            <div class="mb-4 d-flex">
                                <div class="d-flex position-relative" [ngClass]="{'has-error': this.capcha}">
                                    <label class="col required min-width-100 lbl-capcha position-absolute {{this.capcha ? 'text-danger' : ''}}">Mã xác nhận<span class="text-danger">*</span></label>
                                    <input type="text" name="prof_place" formControlName="codeCapcha" mask="A*" maxlength="4" (change)="validateCapcha($event.target.value)" class="col validate mr-2" [required]="true">
                                </div>
                                <div class="mr-2"><img [src]="_capcha.data" width="162" height="39" alt="" /></div>
                                <div type="button" class="btn-refresh" (click)="getCapcha()"><i class="fa fa-refresh" aria-hidden="true"></i></div>
                            </div>
                            <small *ngIf="this.capcha" class="help-block" style="color: red;margin-left: 114px;">Mã xác nhận không đúng</small>

                        </div>
                        <div class="d-flex justify-content-center">
                            <button mat-raised-button color="primary" class="w-100" (click)="resetPassword()" [disabled]="frmResetPassword.invalid">{{l("Lưu")}}</button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </ng-template>
    </mat-tab>
</mat-tab-group>

