.max-w-400{max-width: 400px;}
.btn-refresh {
    background-color: #fff;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
}

.lbl-capcha {
    top: -7px;
    left: 9px;
    z-index: 9;
    font-weight: 500;
    background-color: #fff;
    width: 116px;
}
