<form [formGroup]="_frm" class="container p-relative" novalidate>
    <div class="p-absolute t-5 r-5">
        <button mat-icon-button mat-dialog-close style="z-index: 9;" [matTooltipPosition]="'left'" matTooltip="Đóng">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-tab-group scroll-able>
        <mat-tab>
            <ng-template mat-tab-label>
                {{l("Detail")}} {{l("Package")}}
            </ng-template>
            <div class="pt-4">
                <div class="row disabled">
                    <div class="col-md-12">
                        <mat-form-field appearance="outline" class="w-100" title>
                            <mat-label>{{l("PackageName")}}</mat-label>
                            <input formControlName="name" matInput title="{{'hahaha'}}">
                        </mat-form-field>
                    </div>
                    <div class="col-md-12 ">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("PackageDescription")}}</mat-label>
                            <input formControlName="description" matInput title="{{_package.description}}">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l('PackageCost')}}</mat-label>
                            <input type="text" mask="dot_separator" formControlName="cost" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l('PackageQuantity')}}</mat-label>
                            <input type="text" mask="dot_separator" formControlName="quantity" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-12  m-b-20">
                        <mat-checkbox formControlName="status" disabled="false">{{l('Using')}}</mat-checkbox>
                    </div>

                    <div class="col-md-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l('PackageSmsFrom')}}</mat-label>
                            <input type="text" mask="dot_separator" formControlName="smsFrom" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l('PackageSmsTo')}}</mat-label>
                            <input type="text" mask="dot_separator" formControlName="smsTo" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l('PackageCost')}}</mat-label>
                            <input type="text" mask="dot_separator" formControlName="detailCost" matInput>
                        </mat-form-field>
                    </div>

                    <div class="col-md-12">
                        <div class="row" *ngFor="let item of _details; index as i">
                            <div class="col-md-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>{{l('PackageSmsFrom')}}</mat-label>
                                    <input type="text" mask="dot_separator" formControlName="{{_smsFrom + item.index}}" matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>{{l('PackageSmsTo')}}</mat-label>
                                    <input type="text" mask="dot_separator" formControlName="{{_smsTo + item.index}}" matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>{{l('PackageCost')}}</mat-label>
                                    <input type="text" mask="dot_separator" formControlName="{{_detailCost + item.index}}" matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2" ></div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
   <div class="row">
       <div class="col-md-4">
       </div>
       <div class="col-md-8">
        <div class="text-right mb-3"><button class="mr-3" mat-raised-button color="primary" mat-dialog-close>{{l("Close")}}</button></div>
       </div>
   </div>
</form>
