<div *ngIf="!continue" class="main-content">
    <section class="overview-block-ptb iq-bg iq-features" style="background: url(/assets/images/bg/14.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="form-dialog" class="contentLogin">
                        <div style="margin-top:0px" class="box-control mt10 contentpanel container positionBox">
                            <div style="margin-top:15px" class="nameHT">
                                <a>QUÊN MẬT KHẨU</a>
                            </div>
                            <div class="contentpanel mt10">
                                <form [formGroup]="frmSecret" class="form-horizontal">
                                    <div [ngClass]="{'has-error':highLightControl('info')}" class="form-group">
                                        <div>
                                            <label [ngClass]="{'text-danger':highLightControl('info')}">Tên đăng nhập/Email/Số điện thoại</label>
                                            <label class="text-danger">*</label>
                                            <input formControlName="info" type="text" class="form-control input-lg" autocomplete="off" maxlength="255">
                                            <validation [control]="frmSecret.controls['info']"></validation>
                                        </div>
                                    </div>

                                    <div class="form-group" [ngClass]="{'has-error':highLightControl('capcha')}">
                                        <div class="col-md-6" style="margin-left:-15px">
                                            <label [ngClass]="{'text-danger':highLightControl('capcha')}">{{l("ResetCapcha")}}</label>
                                            <label class="text-danger">*</label>
                                            <input (input)="capchaInput($event)" formControlName="capcha" autocomplete="off" required maxlength="4" class="form-control input-lg">
                                            <validation [control]="frmSecret.controls['capcha']"></validation>
                                        </div>
                                        <div class="col-md-4">
                                            <img style="margin-left:-13px;margin-top:30px" [src]="_capcha.data" width="160" height="40" alt="" />
                                        </div>
                                        <div class="col-md-1">
                                            <span type="button" class="btn-refresh" (click)="getCapcha()">
                                                <i class="fa fa-refresh"
                                                   style="margin-top: 39px!important;margin-left:12px"
                                                   aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group iq-mt-20">
                                        <div>
                                            <button [disabled]="frmSecret.invalid" class="btn btn-aqua btn-block btn-lg" (click)="submit()">Lấy mã bí mật</button>
                                            <button class="btn btn-danger btn-block btn-lg " (click)="loginClick()">Quay lại đăng nhập</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<app-reset-password *ngIf="continue" [info]="frmSecret.controls['info'].value"></app-reset-password>
