<form [formGroup]="_frm" class="container p-relative" novalidate>
    <div class="p-absolute t-5 r-5">
        <button mat-icon-button mat-dialog-close style="z-index: 9;" [matTooltipPosition]="'left'" matTooltip="Đóng">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-tab-group scroll-able>
        <mat-tab>
            <ng-template mat-tab-label>
                {{l("ApproveExamDetail")}}
            </ng-template>
            <div class="pt-4">
                <div class="row disabled">
                    <div class="col-md-6">
                        <label class="fw-500 f14">{{l("Unit")}}</label>
                        <div class="wrap-text mb-4 color-primary f14">{{_bookingDoctorsCalendars.healthFacilitiesName}}
                        </div>
                        <!-- <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("Unit")}}</mat-label>
                            <input formControlName="healthfacilities" matInput>
                        </mat-form-field> -->
                    </div>

                    <div class="col-md-6">
                        <label class="fw-500 f14">{{l("Doctor")}}</label>
                        <div class="wrap-text mb-4 color-primary f14">{{_bookingDoctorsCalendars.fullName}}</div>

                        <!-- <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("Doctor")}}</mat-label>
                            <input formControlName="doctor" matInput required>
                        </mat-form-field> -->
                    </div>

                    <div class="col-md-12">
                        <label class="fw-500 f14">{{l("Place")}}</label>
                        <div class="wrap-text mb-4 color-primary f14">{{_bookingDoctorsCalendars.address}}</div>
                        <!-- <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("Place")}}</mat-label>
                            <textarea matInput formControlName="address" required></textarea>
                        </mat-form-field> -->
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
            <div class="text-right mb-3"><button class="mr-3" mat-raised-button color="primary"
                    mat-dialog-close>{{l("Close")}}</button></div>
        </div>
    </div>
</form>
