.custom-form .mat-form-field-appearance-outline .mat-form-field-outline {
    color: transparent !important;
}

.custom-form .disabled .mat-form-field-outline {
    background-color: transparent;
}

.disabled .mat-form-field-outline {
    background-color: transparent !important;
}

form:not(.task-form) .mat-form-field:not(.mat-focused) .mat-form-field-label.mat-empty:not(.mat-form-field-invalid) {
    color: black;
}

/*.table-content {
    overflow: auto;
    position: relative;
    padding-bottom: 16px;
}*/

mat-tab-group.mat-tab-group.mat-primary {
    margin-bottom: 10px;
}
