.mycheckbox{
    font-size: 110%;
    transform: scale(2);
    margin-right: 10px;
    margin-top: 10px;
}

.myspan{
    font-size: 120%;
}

.divdisabled{
    background-color: bisque;
    border-radius: 5px; 
}

.mat-radio-outer-circle {
    border-radius: 0 !important;
}
.btn-search-healthfacilites{height:38px;}
.form-healthfacilites .mat-form-field-healfacilities .mat-form-field-wrapper {
    padding-bottom: 0px;
}
.col-checkbox{max-width:40px!important;min-width:40px!important;}

