
<div class="container p-relative custom-form form-healthfacilites">
    <form class="pt-3">
        <div class="mb-3 border-bottom pb-1">{{l("Chọn đơn vị")}}</div>
        <div class="row">
            <div class="col-md-8 pr-0">
                <mat-form-field appearance="outline" class="w-100 mat-form-field-healfacilities">
                    <mat-label>{{l("Nhập tên đơn vị")}}</mat-label>
                    <input #nameHealthFacilities formControlName="code" matInput>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <button #btnSearch mat-stroked-button color="primary" (click)="onHandleSearch()" class="w-100 btn-search-healthfacilites mt-1">
                    <mat-icon class="mr-2">search</mat-icon>{{l("Search")}}
                </button>
            </div>
        </div>
    </form>

    <form class="" id="form-dialog" novalidate>
        <div>
            <mat-paginator [length]="totalItems"
                           [pageSize]="pageSize"
                           [pageSizeOptions]="pageSizeOptions"
                           (page)="onHandleChange($event)"
                           showFirstLastButtons>
            </mat-paginator>
        </div>
            <div class="table-content mb-3">
                <!--style="height: calc(100vh - 245px);"-->
                <table mat-table [dataSource]="dataSource" class="w-100 task">
                    <ng-container matColumnDef="colSelect">
                        <th mat-header-cell *matHeaderCellDef class="text-center col-checkbox border-left"> {{l('Chọn')}} </th>
                        <td mat-cell *matCellDef="let row" class="p-t-8 text-center col-checkbox border-left">
                            <!--<mat-checkbox (click)="onHandleCheckBox(row)" [checked]="onSelect(row)"> </mat-checkbox>-->
                            <mat-radio-button class="example-radio-button" (click)="onSelect(row)">
                            </mat-radio-button>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="colHel">
                        <th mat-header-cell *matHeaderCellDef class="pl-2 border-right"> {{l('Tên đơn vị')}} </th>
                        <td mat-cell *matCellDef="let element" class="pl-2 border-right"> {{ element.name }} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="fadeIn animated"></tr>
                </table>
            </div>
                <button class="ml-auto d-block mb-3" [disabled]="!this._healthFacilities" mat-raised-button color="primary" mat-dialog-close (click)="updateDefault()">{{l("Chọn")}}</button>
    </form>

</div>
