<form [formGroup]="_frm" class="container p-relative custom-form" novalidate id="form-dialog">
    <div class="p-absolute t-5 r-5">
        <button mat-icon-button mat-dialog-close style="z-index: 9;" [matTooltipPosition]="'left'" matTooltip="Đóng">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                {{l("Xem chi tiết mẫu tin nhắn")}}
            </ng-template>
            <div class="pt-4">
                <div class="row">
                    <div *ngIf="!_isNew" class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("PackageTemplateCode")}}</mat-label>
                            <input class="custom-readonly" readonly formControlName="smsTemplateCode"
                                matInput autocomplete maxlength="255">
                            <validation matSuffix [control]="_frm.controls['smsTemplateCode']"></validation>
                        </mat-form-field>
                    </div>
                    <div *ngIf="!_isNew" class="col-md-6" [ngClass]="{'disabled': _isUsedSuccess}">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("PackageTemplateName")}}</mat-label>
                            <input  class="custom-readonly" readonly  #txtName="matInput" formControlName="smsTemplateName"
                                matInput autocomplete maxlength="255">
                            <validation matSuffix [control]="_frm.controls['smsTemplateName']"></validation>
                        </mat-form-field>
                    </div>
                    <!--<div *ngIf="_isNew" class="col-md-12" [ngClass]="{'disabled': _isUsedSuccess}">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("PackageTemplateName")}}</mat-label>
                            <input readonly #txtName="matInput" formControlName="smsTemplateName"
                                matInput autocomplete required maxlength="255">
                            <validation matSuffix [control]="_frm.controls['smsTemplateName']"></validation>
                        </mat-form-field>
                    </div>-->
                    <div class="col-md-6 readonly-wrapper custom-readonly">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("PackageTemplateMessageType")}}</mat-label>
                            <mat-select disabled class="readonly-block custom-readonly"  formControlName="messageType">
                                <mat-option *ngIf="_messageType.length" class="text-center"
                                    [innerHTML]="'<div class=\'text-center border-bottom w-100\'>'+ l('Bỏ chọn') +'</div>'">
                                </mat-option>
                                <mat-option *ngFor="let o of _messageType" [value]="o.id">{{ o.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 disabled" [ngClass]="{'disabled': _isUsedSuccess}">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("PackageTemplateHeadNumberType")}}</mat-label>
                            <input  class="custom-readonly" readonly matInput autocomplete value="VTT_CSKH">
                        </mat-form-field>
                    </div>
                    <div class="col-md-12" [ngClass]="{'disabled': _isUsedSuccess}">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{l("PackageTemplateMessageContent")}}</mat-label>
                            <textarea  class="custom-readonly" #messageContent readonly formControlName="smsContent" rows="auto" matInput
                                 maxlength="500" (keyup)="inputSmsContent($event)"
                                (click)="cussorPointer($event.target.selectionStart, $event.target.value)"></textarea>
                            <validation matSuffix [control]="_frm.controls['smsContent']"></validation>
                        </mat-form-field>
                    </div>
                    <div class="ml-1 col-md-12">
                        <mat-checkbox  class="custom-readonly" [disabled]="true" formControlName="isActive">{{l("Using")}}</mat-checkbox>
                    </div>
                    <div class="ml-1 col-md-12" *ngIf="!appSession.user.healthFacilitiesId">
                        <mat-checkbox  class="custom-readonly" [disabled]="true" formControlName="applyAllSystem">{{l("PackageTemplateApplyAllSystem")}}
                        </mat-checkbox>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
    <div class="text-right mb-3"><button class="mr-3" mat-raised-button color="primary"
            mat-dialog-close>{{l("Close")}}</button></div>
</form>
