<mat-card style="width: 400px;" class="mat-elevation-z8">
    <mat-card-header class="d-flex flex-column justify-content-center">
        <h4 class="header blue lighter bigger mt-0" style="text-align:center">
            <img src="assets/images/logo-viettel_03.png">
            <br>
            <span class=" text-primary"> VIETTEL GATEWAY</span>
        </h4>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="frmReset" novalidate>
            <mat-form-field appearance="outline" class="w-100 disabled" readonly>
                <mat-label>{{l("ResetInfo")}}</mat-label>
                <input formControlName="info" matInput autocomplete>
                <mat-icon matSuffix *ngIf="frmReset.controls['info'].valid || !frmReset.controls['info'].touched"
                    class="text-muted">account_circle</mat-icon>
                <mat-icon matSuffix
                    *ngIf="frmReset.controls['info'].invalid && (frmReset.controls['info'].dirty || frmReset.controls['info'].touched)"
                    matTooltipClass="bg-danger text-light" matTooltip="Không được để trống" color="warn">info</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{l("ResetSecretCode")}}</mat-label>
                <input formControlName="secretCode" matInput autocomplete="off" required>
                <mat-icon matSuffix
                    *ngIf="frmReset.controls['secretCode'].invalid && (frmReset.controls['secretCode'].dirty || frmReset.controls['secretCode'].touched)"
                    matTooltipClass="bg-danger text-light" matTooltip="Không được để trống" color="warn">info</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{l("ResetNewPassword")}}</mat-label>
                <input formControlName="newPassword" type="password" matInput autocomplete="off" required>
                <mat-icon matSuffix
                    *ngIf="frmReset.controls['newPassword'].valid || !frmReset.controls['newPassword'].touched"
                    class="text-muted">lock</mat-icon>
                <mat-icon matSuffix
                    *ngIf="frmReset.controls['capcha'].invalid && (frmReset.controls['capcha'].dirty || frmReset.controls['capcha'].touched)"
                    matTooltipClass="bg-danger text-light" matTooltip="Không được để trống" color="warn">info</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{l("ResetConfirmNewPassword")}}</mat-label>
                <input formControlName="capcha" type="password" matInput autocomplete="off" required>
                <mat-icon matSuffix *ngIf="frmReset.controls['capcha'].valid || !frmReset.controls['capcha'].touched"
                    class="text-muted">lock</mat-icon>
                <mat-icon matSuffix
                    *ngIf="frmReset.controls['capcha'].invalid && (frmReset.controls['capcha'].dirty || frmReset.controls['capcha'].touched)"
                    matTooltipClass="bg-danger text-light" matTooltip="Không được để trống" color="warn">info</mat-icon>
            </mat-form-field>
            <div class="row">
                <div class="col-md-5">
                    <mat-form-field appearance="outline" class="w-100" [ngClass]="{'mat-form-field-invalid':capcha}">
                        <mat-label>{{l("ResetCapcha")}}</mat-label>
                        <input (input)="capchaInput()" formControlName="capcha" matInput autocomplete="off" required>
                        <mat-icon matSuffix
                            *ngIf="frmReset.controls['capcha'].invalid && (frmReset.controls['capcha'].dirty || frmReset.controls['capcha'].touched)"
                            matTooltipClass="bg-danger text-light" matTooltip="Không được để trống" color="warn">info
                        </mat-icon>
                        <mat-icon matSuffix
                            *ngIf="capcha"
                            matTooltipClass="bg-danger text-light" matTooltip="Sai mã xác nhận" color="warn">info
                        </mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-md-5 mt-1" style="margin-left:-20px!important;padding-bottom: 1px!important">
                    <img [src]="_capcha.data" width="160" height="40" alt="" />
                </div>
                <div class="col-md-2 mt-1 ml-3">
                    <span type="button" class="btn-refresh" (click)="getCapcha()"><i class="fa fa-refresh"
                            aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex justify-content-center">
                        <button mat-raised-button color="primary" class="w-100" (click)="submit()"
                            [disabled]="frmReset.invalid" [buttonBusy]="true"
                            [busyText]="'xxx'">{{l("ResetPasswordButton")}}</button>
                    </div>
                </div>
            </div>
        </form>
        <h4 class="recover mt-2" style="text-align:center">
            <a style="cursor:pointer" (click)=loginClick() class="f-15 pl-3 pr-3 text-primary">Đăng nhập</a>
        </h4>
    </mat-card-content>
    <mat-card-actions class=" m-l--24 m-r--24 m-b--24 p-2" style="background-color: gray">
        <a mat-button class="w-50 m-0 text-white" href="https://www.mozilla.org/vi/firefox/new/" target="_blank">Link
            tải firefox</a><a mat-button class="w-50 m-0 text-white" href="https://www.mozilla.org/vi/firefox/new/"
            target="_blank">Link tải Teamviewer</a>
    </mat-card-actions>
</mat-card>
